<div class="mod-footer">

	<!-- Footer Language -->
	<ul class="footer-language-links">
		<li><a href="javascript:;" class="state-active">DE</a></li>
		<li><a href="javascript:;" class="XXXstate-active">FR</a></li>
		<li><a href="javascript:;" class="XXXstate-active">IT</a></li>
		<li><a href="javascript:;" class="XXXstate-active">EN</a></li>
	</ul>
</div>
