@using Finma.Internet.Core
@model Finma.Internet.Core.Models.FooterModel

<div class="mod-footer">
    @if (Model != null)
    {
       

        <!-- Footer Service -->
        <ul class="footer-service-links">
            <li><a href="//">
                <span class="glyph-news"></span>//
            </a></li>
            <li><a href="//">
                <span class="glyph-question"></span>//
            </a></li>
            <li><a href="//">
                <span class="glyph-documents"></span>//
            </a></li>
        </ul>
        
        
    }
    else
    {
        <div class="l-main">@ApplicationConstants.DataModelIsNUll</div>
    }
</div>
