<div class="mod-footer">

	<!-- Footer Links -->
	<ul class="footer-meta-links">
		<li><span class="footer-copy">© FINMA 2014</span></li>
		<li><a href="javascript:;">Kontakt</a></li>
		<li><a href="javascript:;">Impressum</a></li>
		<li><a href="javascript:;">Disclaimer</a></li>
		<li><a href="javascript:;">Sitemap</a></li>
		<li><a href="javascript:;">Archiv</a></li>
	</ul>
</div>
