@using Sitecore.Mvc
@using SitecoreGenerated.UserDefined.FINMA.Data.NavMain
@model NavMainDescriptionLeftTemplate

@* <a class="flyout-column-link" href="content"></a> *@

@if (Model != null)
{
    string style = string.Empty;
    if (Sitecore.Context.PageMode.IsPageEditorEditing)
    {
        style = "display: block; border: thin red solid;";
    }
    
    @Model.DescriptionLinkField.Render("class=flyout-column-link")

    <div class="flyout-column-text-box" style="@style">
        <div class="text-image pull-left">
            <img src="components/modules/NavMain/img/nav-main-placeholder.png" width="64" height="64" alt="Image" />
        </div>
        <p class="flyout-column-text">
            @Model.DescriptionTextField.Render()
        </p>
    </div>
}