<div class="mod mod-nav-service">

	<!-- Nav Service -->
	<ul class="nav-service-list">

		<!-- list with ul.quick-btn-links -->
		<li>
			<ul class="quick-btn-links">
				<li>
					<a href="news-service" class="e-btn btn-navigation">
						<i class="glyph-news"></i>News
					</a>
				</li>
				<li>
					<a href="faq" class="e-btn btn-navigation">
						<i class="glyph-question"></i>Hilfe
					</a>
				</li>
				<li>
					<a href="download-center" class="e-btn btn-navigation">
						<i class="glyph-documents"></i>Download Center
					</a>
				</li>
			</ul>
		</li>

		<!-- listitem with ul.service-links -->
		<li class="service-links-item">
			<ul class="service-links">
				<li class="service-links-watchlist-item">
					<a href="watchlist" class="service-icon-watchlist">
						<div class="glyph-basket">
							<span class="service-notification-circle">
								<span class="service-notification-number">77</span>
							</span>
						</div>
					</a>
				</li>

				<li class="service-links-lock-item">
					<a href="myfinma-login" class="icon-logged state-active">MyFINMA</a>
				</li>

				<li class="service-link-search-item">
					<a href="javascript:;" class="icon-magnifier"><span class="glyph-search"></span></a>
				</li>

				<li class="service-link-language">
					<a href="javascript:;" class="service-link-language-item">
						<i class="glyph-arw-s-down"></i>DE
					</a>

					<ul class="service-link-language-list js-dropdown-toggle">
						<li><a class="service-link-language-item" href="javascript:;">FR</a></li>
						<li><a class="service-link-language-item" href="javascript:;">EN</a></li>
						<li><a class="service-link-language-item" href="javascript:;">IT</a></li>
					</ul>

				</li>
			</ul>
		</li>
	</ul>
</div>
