<div class="mod mod-teaser skin-teaser-news">

	<div class="teaser-heading-line">
		<h1 class="e-text">News-Detail</h1>

		<a class="e-btn btn-icon icon-rss" href="javascript:;" rel="alternate" type="application/rss+xml" title="What's New on FINMA"></a>
	</div>

	<div class="teaser-news">
		<div class="teaser-info">
			<span class="teaser-info-date">13. Dezember 2014</span>
			<span class="teaser-tag-label">Medienmitteilung</span>
		</div>

		<div class="teaser-content">
			<span class="teaser-content-title">Zweites FINMA-Sonderbulletin erschienen.</span>

			<p class="teaser-content-text">
				Das teilrevidierte FINMA-Rundschreiben “Eckwerte zur Vermögensverwaltung” (09/1) trat am 1. Juli 2013 in
				Kraft und verlangte eine Anpassung der Verhaltensregeln der Branchenorganisationen bis Ende Jahr. Die
				FINMA prüfte und anerkennt die angepassten Verhaltensregeln der acht folgenden Branchenorganisationen:
			</p>

			<a class="e-text text-link-std bold" href="communication-detail">Weiterlesen</a>
		</div>
	</div>

	<div class="teaser-news">
		<div class="teaser-info">
			<span class="teaser-info-date">9. Dezember 2014</span>
			<span class="teaser-tag-label">News</span>
		</div>

		<div class="teaser-content">
			<span class="teaser-content-title">FINMA rügt Basler Kantonalbank wegen Verletzung der Marktverhaltensregeln und zieht Gewinne ein.</span>

			<p class="teaser-content-text">
				Am 14. November 2012 veranstaltete die FINMA eine Tagung zum Thema «Würdigung der verwaltungsrechtlichen
				Rechtsprechung des Bundesverwaltungsgerichts und des Bundesgerichts zum Finanzmarktrecht seit 2009». Mit
				dem FINMA-Sonderbulletin 2/2013 werden die schriftlichen Fassungen der gehaltenen Referate
				veröffentlicht.
			</p>

			<a class="e-text text-link-std bold" href="communication-detail">Weiterlesen</a>

		</div>
	</div>
</div>