<div class="mod mod-teaser skin-teaser-news">

	<div class="teaser-heading-line">
		<span class="teaser-headline-title">Abonnierte News</span>

		<span class="teaser-sort-label">Sortiert nach:</span>
		<div class="teaser-dropdown">
			<select class="e-dropdown">
				<option value="" class="label">Datum</option>
				<option value="1">2014</option>
				<option value="2">2013</option>
				<option value="3">2012</option>
			</select>
		</div>

	</div>

	<div class="teaser-news">
		<div class="teaser-info">
			<span class="teaser-info-date">13. Dezember 2014</span>
			<span class="teaser-tag-label">Medienmitteilung</span>
		</div>

		<div class="teaser-content">
			<span class="teaser-content-title">Zweites FINMA-Sonderbulletin erschienen.</span>

			<p class="teaser-content-text">
				Das teilrevidierte FINMA-Rundschreiben “Eckwerte zur Vermögensverwaltung” (09/1) trat am 1. Juli 2013 in
				Kraft und verlangte eine Anpassung der Verhaltensregeln der Branchenorganisationen bis Ende Jahr. Die
				FINMA prüfte und anerkennt die angepassten Verhaltensregeln der acht folgenden Branchenorganisationen:
			</p>

			<a class="e-text text-link-std bold" href="communication-detail">Weiterlesen</a>
		</div>
	</div>

	<div class="teaser-news">
		<div class="teaser-info">
			<span class="teaser-info-date">9. Dezember 2014</span>
			<span class="teaser-tag-label">News</span>
		</div>

		<div class="teaser-content">
			<span class="teaser-content-title">FINMA rügt Basler Kantonalbank wegen Verletzung der Marktverhaltensregeln und zieht Gewinne ein.</span>

			<p class="teaser-content-text">
				Am 14. November 2012 veranstaltete die FINMA eine Tagung zum Thema «Würdigung der verwaltungsrechtlichen
				Rechtsprechung des Bundesverwaltungsgerichts und des Bundesgerichts zum Finanzmarktrecht seit 2009». Mit
				dem FINMA-Sonderbulletin 2/2013 werden die schriftlichen Fassungen der gehaltenen Referate
				veröffentlicht.
			</p>

			<a class="e-text text-link-std bold" href="communication-detail">Weiterlesen</a>

		</div>
	</div>
</div>

<div class="mod mod-teaser skin-teaser-document">
	<div class="teaser-document">

		<div class="teaser-info">
			<span class="teaser-info-date">22. Dezember 2014</span>
			<span class="teaser-tag-label">Dokumente</span>
		</div>

		<div class="teaser-content">
			<span class="teaser-content-title">Bericht über den Versicherungsmarkt.</span>

			<!-- PDF -->
			<div class="teaser-document-box">
				<a class="e-btn btn-icon icon-document pdf" href="javascript:;"></a>

				<div class="teaser-document-box-content">
					<a class="teaser-document-box-title" href="javascript:;">Pharetra Pellentesque Egestas Cras Fusce</a>
					<p class="teaser-document-box-text js-teaser-document-box-text">Wann und in welcher Form der SST eingereicht werden muss.</p>

					<div class="teaser-document-box-info js-teaser-document-box-info">
						<span class="teaser-document-box-update">Update: 31.10.201</span>
						<span class="teaser-document-box-size">Grösse: 0.5mb</span>
						<ul class="teaser-document-language-list">
							<li class="teaser-document-box-language-title">Sprachen:</li>
							<li class="teaser-document-box-language-label"><a href="javascript:;">DE</a></li>
							<li class="teaser-document-box-language-label"><a href="javascript:;">FR</a></li>
							<li class="teaser-document-box-language-label"><a href="javascript:;">IT</a></li>
							<li class="teaser-document-box-language-label"><a href="javascript:;">EN</a></li>
						</ul>
					</div>
				</div>
				<a class="e-btn btn-icon icon-notification js-icon-notification" href="javascript:;"><span class="notification-text">Zur Merkliste</span></a>
				<span class="teaser-nav-mobile js-teaser-nav-mobile"></span>
			</div>
		</div>

	</div>
</div>