<div class="mod mod-teaser">
	<div class="teaser-info">
		<span class="teaser-info-date">22. Dezember 2014</span>
		<span class="teaser-info-date-mobile">13.12.2014</span>
		<span class="teaser-tag-label">Medienmitteilung</span>
	</div>

	<div class="e-text" style="margin-bottom: 30px;">

		<span class="text-headline-big">FINMA eröffnet Konkurs gegen Espírito Santo.</span>

		<ul class="teaser-appointment-list">
			<li class="list-item-screen">Datum: 7. Dezemeber 2014</li>
			<li class="list-item-mobile">Datum: 7.12.2014</li>
			<li class="list-item">Zeit: 9.30 Uhr bis 11.00 Uhr</li>
			<li class="list-item">Ort: Eidg. Finanzmarktaufsicht: FINMA, Einsteinstrasse 2, Bern</li>
		</ul>

		<p class="text-lead-intro">
			Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor
			ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Sed
			posuere consectetur est at lobortis.

			Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
			Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id ligula porta felis euismod semper.
			Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis
			euismod. Maecenas faucibus mollis interdum.
		</p>

		<h2>Vestibulum id ligula porta felis euismod semper.</h2>
		<p class="text-page">
			Nullam quis risus eget urna mollis ornare vel eu leo. <abbr class="e-text" title="Eidgenössische Finanzmarktaufsicht FINMA" rel="tooltip">FINMA</abbr>  ullamcorper nulla non metus auctor fringilla. Donec
			id elit non mi porta gravida at eget metus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
			vestibulum.

			Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue. Nullam
			quis risus eget urna mollis ornare vel eu leo. Cras mattis consectetur purus sit amet fermentum.

			Sed posuere consectetur est at lobortis. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non
			commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vivamus sagittis lacus vel augue
			laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi
			porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
			fermentum massa justo sit amet risus.
		</p>
	</div>
</div>
