.mod-logo {

	// display: none;

	a {
		display: inline-block;
		margin: 32/16em 0 24/16em 0;
	}
}

// -----------------------------------------
// RWD: Mobile Breakpoint < 768px
// -----------------------------------------
@media (max-width: @bp-md) {
	.mod-logo {

		a {
			margin: 16px 16px 14px 16px;

			img { width: 130px; height: auto; }
		}
	}
}