<div class="mod mod-nav-finmapublic">

	<span class="nav-finmapublic-mobile-btn js-nav-finmapublic-m-btn">FINMA Public</span>

	<ul class="finmapublic-flyout js-finmapublic-flyout">
		<li class="g-row">
			<div class="g-cell s-1of2">
				<ul class="finma-public-linklist">
					<li><a href="javascript:;" class="state-active">FINMA Public</a></li>
					<li><a href="javascript:;" class="">FINMA kurz erklärt</a></li>
					<li><a href="javascript:;" class="">Fragen & Antworten</a></li>
				</ul>
				<ul class="finma-public-linklist">
					<li><a href="javascript:;" class="">Fallbeispiele</a></li>
					<li><a href="javascript:;" class="">Anlegerschutz</a></li>
					<li><a href="javascript:;" class="">Faktenblätter</a></li>
				</ul>
			</div>
			<div class="g-cell s-1of2">
				<ul class="finma-public-buttonlist">
					<li><span class="finma-public-buttonlist-title">Schnellzugriff</span></li>
					<li><a href="javascript:;" class="e-btn btn-status">Bewilligte Institute</a></li>
					<li><a href="javascript:;" class="e-btn btn-status">Warnliste</a></li>
					<li><a href="javascript:;" class="e-btn btn-status">Missstand melden</a></li>
				</ul>
			</div>
		</li>
	</ul>

</div>
