<div class="mod mod-login">
	<span class="login-title e-text text-small-bold">MyFINMA Login</span>

	<p class="e-text text-small-light">Sie haben bereits ein Login?<br>Melden Sie sich hier an:</p>

	<div class="login-formline">
		<input type="text" placeholder="Benutzername">
		<input type="password" placeholder="Passwort">
		<a href="javascript:;" class="e-text text-link-arrow">Passwort vergessen?</a>
		<a href="myfinma-logged" class="e-btn btn-standard"><span class="glyph-link"></span>Login</a>
	</div>

	<span class="e-text text-small-bold">Sie haben noch kein Login?</span>
	<a class="e-text text-link-small" href="myfinma-login">Jetzt registrieren</a>
</div>
