<div class="mod mod-login">
	<span class="login-title e-text text-small-bold">Mein Profil</span>

	<div class="login-formline">
		<input type="text" placeholder="Vorname" value="Hans">
		<input type="text" placeholder="Nachname" value="Mustermann">
		<input type="text" placeholder="Email" value="mustermann@finma.ch">
		<select class="teaser-filter-field-select">
			<option value="Language" selected="selected">Sprache</option>
			<option value="DE">Deutsch</option>
			<option value="FR">Französisch</option>
			<option value="IT">Italiensich</option>
			<option value="EN">Englisch</option>
		</select>
		<!-- <input type="password" placeholder="Passwort"> -->
		<a href="javascript:;" class="e-text text-link-arrow" style="float: left; margin-top: 12px;">Abbrechen</a>
		<a href="myfinma-logged" class="e-btn btn-standard"><span class="glyph-link"></span>Speichern</a>
	</div>

	<span class="e-text text-small-bold">Benutzerkonto löschen</span>
	<a class="e-text text-link-cross" href="jasvascript:;">Löschen</a>

</div>

