<div class="mod-stage">
	<!-- no stage-headline on public finma page // <div class="stage-claim l-wrap"></div>-->

	<div class="stage-background-mask"><i class="fade-out"></i></div>

	<div class="stage-background-container js-stage-background-container">
		<img class="stage-image" src="components/modules/Stage/img/stage-2.jpg" width="2048" height="1300" alt="Backgroundimage"/>
		<img class="stage-triangle" src="assets/img/content/triangle.png" width="1680" height="617" alt="Traingles"/>
	</div>
</div>
