<div id='editor_holder'></div>

<script>
    // Set the default CSS theme and icon library globally
    JSONEditor.defaults.theme = 'bootstrap3';
    JSONEditor.defaults.iconlib = 'fontawesome4';

    $(document).ready(function () {
        var editor = null;
        var schemaUrl = "{{schemaUrl}}";
        var dataUrl = "{{dataUrl}}";

        $.get(schemaUrl, function (data) {
            editor = new JSONEditor(document.getElementById('editor_holder'), {
                schema: data
            });

            $.get(dataUrl, function (model) {
                editor.setValue(model);
            });
        });

        // Hook up the submit button to log to the console
        $('#{{save_action_id}}').click(function () {
            // Get the value from the editor
            console.log(editor.getValue());

            if (editor.validate()) {
                $.ajax({
                    type: 'PUT',
                    url: dataUrl,
                    data: JSON.stringify(editor.getValue()),
                    headers: { "Content-Type": "application/json" },
                });
            }

        });

    });
</script>
