<div class="mod mod-nav-main" data-page="home">

	<ul class="nav-main-list js-nav-main-list">

		<!-- Link 1 -->
		<li class="main-list-item js-main-list-item">
			<a class="main-list-link js-main-list-link XXXstate-active" href="javascript:;" accesskey="1" title="[ALT+1]">Autorisation</a>
			<ul class="main-flyout js-main-flyout">
				<li class="g-row">

					<!-- flyout-column-left -->
					<div class="g-cell s-1of3 flyout-column-left">
						<div class="flyout-column-left-wrap e-text">
							<a class="flyout-column-link" href="content">Alles zur Bewilligung</a>

							<div class="flyout-column-text-box">
								<div class="text-image pull-left">
									<img src="components/modules/NavMain/img/nav-main-placeholder.png" width="64" height="64" alt="Image"/>
								</div>

								<p class="flyout-column-text">
									Tätigkeiten auf dem Finanzmarkt sind bewilligungspflichtig.
									Informieren Sie sich hier über die Grundlagen rund um die Bewilligung.
								</p>
							</div>
						</div>
					</div>

					<!-- flyout-column-center -->
					<div class="g-cell s-1of3 flyout-column-center">
						<div class="flyout-column-center-wrap">
							<span class="flyout-column-title">Bewilligung für ...</span>
							<ul class="flyout-column-list" style="">
								<li><a href="content">Banken</a></li>
								<li><a href="content">Versicherungen</a></li>
								<li><a href="content">Versicherungsvermittler</a></li>
								<li><a href="content">Kollektive Kapitalanlagen</a></li>
								<li><a href="content">Börsen & Märkte</a></li>
								<li><a href="content">Finanzdienstleister</a></li>
								<li><a href="content">Prüfgesellschaften</a></li>
							</ul>
						</div>
					</div>

					<!-- flyout-column-right -->
					<div class="g-cell s-1of3 flyout-column-right">
						<div class="flyout-column-right-wrap">
							<a class="flyout-column-link" href="content">Bewilligte Organisationen</a>
							<p class="flyout-column-text">
								Tätigkeiten auf dem Finanzmarkt sind bewilligungspflichtig.
								Informieren Sie sich hier über die Grundlagen rund um die Bewilligung.
							</p>

							<a class="flyout-column-link" href="content">Warnliste</a>
							<p class="flyout-column-text">
								Diese Organisationen haben keine Bewilligung und sind auf der Warnliste der FINMA.
							</p>
						</div>
					</div>
				</li>
			</ul>
		</li>

		<!-- Link 2 -->
		<li class="main-list-item js-main-list-item">
			<a class="main-list-link js-main-list-link" href="javascript:;">Surveillance</a>
			<ul class="main-flyout js-main-flyout">
				<li class="g-row">

					<!-- flyout-column-left -->
					<div class="g-cell s-1of3 flyout-column-left">
						<div class="flyout-column-left-wrap e-text">
							<a class="flyout-column-link" href="javascript:;">Alles zur Überwachung</a>

							<div class="flyout-column-text-box">
								<div class="text-image pull-left">
									<img src="components/modules/NavMain/img/nav-main-placeholder.png" width="64" height="64" alt="Image"/>
								</div>

								<p class="flyout-column-text">
									Tätigkeiten auf dem Finanzmarkt sind bewilligungspflichtig.
									Informieren Sie sich hier über die Grundlagen rund um die Bewilligung.
								</p>
							</div>
						</div>
					</div>

					<!-- flyout-column-center -->
					<div class="g-cell s-1of3 flyout-column-center">
						<div class="flyout-column-center-wrap">
							<span class="flyout-column-title">Überwachung für ...</span>
							<ul class="flyout-column-list">
								<li><a href="javascript:;">Banken</a></li>
								<li><a href="javascript:;">Versicherungen</a></li>
								<li><a href="javascript:;">Versicherungsvermittler</a></li>
								<li><a href="javascript:;">Kollektive Kapitalanlagen</a></li>
								<li><a href="javascript:;">Börsen & Märkte</a></li>
								<li><a href="javascript:;">Finanzdienstleister</a></li>
								<li><a href="javascript:;">Prüfgesellschaften</a></li>
							</ul>
						</div>
					</div>

					<!-- flyout-column-right -->
					<div class="g-cell s-1of3 flyout-column-right">
						<div class="flyout-column-right-wrap">
							<a class="flyout-column-link" href="javascript:;">Link <?php loremWords(1,3); ?></a>
							<p class="flyout-column-text">
								Lorem <?php loremWords(30); ?>.
							</p>

							<a class="flyout-column-link" href="javascript:;">Link <?php loremWords(1,3); ?></a>
							<p class="flyout-column-text">
								Lorem <?php loremWords(20); ?>.
							</p>
						</div>
					</div>
				</li>
			</ul>
		</li>

		<!-- Link 3 -->
		<li class="main-list-item js-main-list-item">
			<a class="main-list-link js-main-list-link" href="javascript:;">Application du droit</a>
			<ul class="main-flyout js-main-flyout">
				<li class="g-row">

					<!-- flyout-column-left -->
					<div class="g-cell s-1of3 flyout-column-left">
						<div class="flyout-column-left-wrap e-text">
							<a class="flyout-column-link" href="javascript:;">Alles zur Durchsetzung</a>

							<div class="flyout-column-text-box">
								<div class="text-image pull-left">
									<img src="components/modules/NavMain/img/nav-main-placeholder.png" width="64" height="64" alt="Image"/>
								</div>

								<p class="flyout-column-text">
									Tätigkeiten auf dem Finanzmarkt sind bewilligungspflichtig.
									Informieren Sie sich hier über die Grundlagen rund um die Bewilligung.
								</p>
							</div>
						</div>
					</div>

					<!-- flyout-column-center -->
					<div class="g-cell s-1of3 flyout-column-center">
						<div class="flyout-column-center-wrap">
							<span class="flyout-column-title">Durchsetzung für ...</span>
							<ul class="flyout-column-list">
								<li><a href="javascript:;">Kundenschutz</a></li>
								<li><a href="javascript:;">Vorsorgliche Massnahmen</a></li>
								<li><a href="javascript:;">Warnliste</a></li>
								<li><a href="javascript:;">Konkurse</a></li>
								<li><a href="javascript:;">Verfügungen nach Artikel 34 FINMAG</a></li>
								<li><a href="javascript:;">Entscheide & Rechtsprechungen</a></li>
								<li><a href="javascript:;">Internationale Sanktionen</a></li>
							</ul>
						</div>
					</div>

					<!-- flyout-column-right -->
					<div class="g-cell s-1of3 flyout-column-right">
						<div class="flyout-column-right-wrap">
							<a class="flyout-column-link" href="javascript:;">Link <?php loremWords(1,3); ?></a>
							<p class="flyout-column-text">
								Lorem <?php loremWords(20); ?>.
							</p>

							<a class="flyout-column-link" href="javascript:;">Link <?php loremWords(1,3); ?></a>
							<p class="flyout-column-text">
								Lorem <?php loremWords(20); ?>.
							</p>
						</div>
					</div>
				</li>
			</ul>
		</li>

		<!-- Link 4 -->
		<li class="main-list-item js-main-list-item">
			<a class="main-list-link js-main-list-link" href="javascript:;">Documentation</a>
			<ul class="main-flyout js-main-flyout">
				<li class="g-row">

					<!-- flyout-column-left -->
					<div class="g-cell s-1of3 flyout-column-left">
						<div class="flyout-column-left-wrap e-text">
							<a class="flyout-column-link" href="javascript:;">Alles zur Dokumentation</a>

							<div class="flyout-column-text-box">
								<div class="text-image pull-left">
									<img src="components/modules/NavMain/img/nav-main-placeholder.png" width="64" height="64" alt="Image"/>
								</div>

								<p class="flyout-column-text">
									Tätigkeiten auf dem Finanzmarkt sind bewilligungspflichtig.
									Informieren Sie sich hier über die Grundlagen rund um die Bewilligung.
								</p>
							</div>
						</div>
					</div>

					<!-- flyout-column-center -->
					<div class="g-cell s-1of3 flyout-column-center">
						<div class="flyout-column-center-wrap">
							<span class="flyout-column-title">Dokumentation für ...</span>
							<ul class="flyout-column-list">
								<li><a href="javascript:;">Gesetze & Verordnungen</a></li>
								<li><a href="javascript:;">Rundschreiben</a></li>
								<li><a href="javascript:;">Anhörungen</a></li>
								<li><a href="javascript:;">Internationale Standards</a></li>
								<li><a href="javascript:;">Erläuterungen & Ausführungen</a></li>
								<li><a href="javascript:;">Mitteilungen</a></li>
							</ul>
						</div>
					</div>

					<!-- flyout-column-right -->
					<div class="g-cell s-1of3 flyout-column-right">
						<div class="flyout-column-right-wrap">
							<a class="flyout-column-link" href="javascript:;">Link <?php loremWords(1,3); ?></a>
							<p class="flyout-column-text">
								Lorem <?php loremWords(30); ?>.
							</p>

							<a class="flyout-column-link" href="javascript:;">Link <?php loremWords(1,3); ?></a>
							<p class="flyout-column-text">
								Lorem <?php loremWords(20); ?>.
							</p>
						</div>
					</div>
				</li>
			</ul>
		</li>

		<!-- Link 5 -->
		<li class="main-list-item js-main-list-item">
			<a class="main-list-link js-main-list-link" href="javascript:;">FINMA</a>
			<ul class="main-flyout js-main-flyout">
				<li class="g-row">

					<!-- flyout-column-left -->
					<div class="g-cell s-1of3 flyout-column-left">
						<div class="flyout-column-left-wrap e-text">
							<a class="flyout-column-link" href="javascript:;">Alles zur FINMA</a>

							<div class="flyout-column-text-box">
								<div class="text-image pull-left">
									<img src="components/modules/NavMain/img/nav-main-placeholder.png" width="64" height="64" alt="Image"/>
								</div>

								<p class="flyout-column-text">
									Tätigkeiten auf dem Finanzmarkt sind bewilligungspflichtig.
									Informieren Sie sich hier über die Grundlagen rund um die Bewilligung.
								</p>
							</div>
						</div>
					</div>

					<!-- flyout-column-center -->
					<div class="g-cell s-1of3 flyout-column-center">
						<div class="flyout-column-center-wrap">
							<span class="flyout-column-title">FINMA für ...</span>
							<ul class="flyout-column-list" style="">
								<li><a href="javascript:;">Banken</a></li>
								<li><a href="javascript:;">Versicherungen</a></li>
								<li><a href="javascript:;">Versicherungsvermittler</a></li>
								<li><a href="javascript:;">Kollektive Kapitalanlagen</a></li>
								<li><a href="javascript:;">Börsen & Märkte</a></li>
								<li><a href="javascript:;">Finanzdienstleister</a></li>
								<li><a href="javascript:;">Prüfgesellschaften</a></li>
							</ul>
						</div>
					</div>

					<!-- flyout-column-right -->
					<div class="g-cell s-1of3 flyout-column-right">
						<div class="flyout-column-right-wrap">
							<a class="flyout-column-link" href="javascript:;">Link <?php loremWords(1,3); ?></a>
							<p class="flyout-column-text">
								Lorem <?php loremWords(30); ?>.
							</p>

							<a class="flyout-column-link" href="javascript:;">Link <?php loremWords(1,3); ?></a>
							<p class="flyout-column-text">
								Lorem <?php loremWords(20); ?>.
							</p>
						</div>
					</div>
				</li>
			</ul>
		</li>

		<!-- Link Finma Public -->
		<li class="finma-public-item" style="display: block;"><a href="/finma-public" class="e-btn btn-finma-public XXXstate-active">FINMA Public</a></li>
	</ul>

</div>
