@model Finma.Internet.Core.Models.StageModel

<div class="mod-stage">
	<!-- no stage-headline on public finma page // <div class="stage-claim l-wrap"></div>-->
	<div class="stage-background-mask"><i class="fade-out"></i></div>
	<div class="stage-background-container js-stage-background-container">
		<img class="stage-image" src="@Model.StageImageUrl" alt="@Model.StageImageAlt"/>
		<img class="stage-triangle" src="/Frontend/Finma/assets/img/content/triangle.png" width="1600" height="617" alt="Triangles"/>
	</div>
</div>