.mod-carousel {
	.carousel {
		margin: 0 auto;
		max-width: 96%;

		.carousel-image {
			img {
				display: block;
				width: 100%;
				height: auto;
			}
		}
	}

	.owl-pagination {
		position: absolute;
		width: 100%;
		bottom: 12px;
		text-align: center;
		z-index: 20;
	}

	.product-carousel-nav {
		position: absolute;
		z-index: 2;
		height: 100%;
		width: 100%;

		.btn-nav-prev,
		.btn-nav-next {
			cursor: pointer;
			position: absolute;
			top: 44%;
			background: @link-hover-color;
			display: block;
			.opacity(70);
			.transition(.5s);

			&:hover {
				.opacity(100);
				.transition(.25s);
				background: none;
			}
		}

		.btn-nav-prev {
			left: 2%;

			&:after {
				.font-style (@font-icon, 88px, @white);
				.icon-font();
				content: @icon-arrow-right;
				display: inline-block;
				.rotate(180deg);
				.transition(.5s);

				&:hover {
					color: @link-hover-color;
				}
			}

			&:hover {
				&:after {
					color: @link-hover-color;
					.transition(.25s);
				}
			}
		}

		.btn-nav-next {
			right: 2%;

			&:after {
				.font-style (@font-icon, 88px, @white);
				.icon-font();
				display: inline-block;
				content: @icon-arrow-right;
			}

			&:hover {
				&:after {
					color: @link-hover-color;
					.transition(.25s);
				}
			}
		}
	}
}

// ---------------------------------------------
// RWD: Stage 1680px > 1440px / SaveArea = 900px
// ---------------------------------------------
@media (max-width: 1680px) and (min-width: 1441px) {
	.mod-product-carousel {
		.carousel {
			margin: 0 auto;
		}
	}
}

// ---------------------------------------------
// RWD: Stage 1440px > 1280px / SaveArea = 600px
// ---------------------------------------------
@media (max-width: 1440px) and (min-width: 1281px) {
	.mod-carousel {
		.carousel {
			margin: 0 auto;
		}
	}
}

// ---------------------------------------------
// RWD: Stage 1280px > 1024px / SaveArea = 500px
// ---------------------------------------------
@media (max-width: 1280px) and (min-width: 1025px) {
	.mod-carousel {
		.carousel {
			margin: 0 auto;
			max-width: 100%;
		}
	}
}

// --------------------------------------------
// RWD: Stage 1024px - 800px / SaveArea = 500px
// --------------------------------------------
@media (max-width: 1024px) and (min-width: 800px) {
	.mod-carousel {
		.carousel {
			margin: 0 auto;
			max-width: 100%;
		}
	}
}

// -----------------------------------------
// RWD: Mobile Breakpoint < 550px
// -----------------------------------------

@media (max-width: 799px) {
	.mod-carousel {
		.carousel {
			margin: 0 auto;
			max-width: 100%;
		}

		.owl-controls {
			margin-top: 30px;
		}

		.product-carousel-nav {
			display: none;
		}

		.owl-pagination {
			bottom: -30px;
			
			span {
				opacity: 1;
			}
		}
	}
}