<html class="mod mod-layout" lang="en">

<meta charset="utf-8" />
<title>{{ pageTitle }}</title>
<meta name="description" content="Powerful .NET application for simple and complex frontend development with a tiny footprint" />
<meta name="robots" content="noindex, nofollow" />

<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

<meta name="viewport" id="viewport-meta" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<meta name="application-name" content="Terrific Net Sample" />

<link rel="stylesheet" href="/bundle_app.css" type="text/css" />