<head>
	<meta charset="utf-8"/>
	<title>{{ pageTitle }}</title>
	<meta name="description" content="Powerful .NET application for simple and complex frontend development with a tiny footprint"/>
	<meta name="robots" content="noindex, nofollow"/>
	<meta name="viewport" id="viewport-meta" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="application-name" content="Terrific Net Sample"/>

	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

	<link rel="shortcut icon" href="/assets/img/icon/favicon.ico?v1" type="image/x-icon" />
	<link rel="apple-touch-icon" href="/assets/img/icon/apple-touch-icon.png" />
	<link rel="apple-touch-icon-precomposed" href="/assets/img/icon/apple-touch-icon-precomposed.png" />
	<link rel="stylesheet" href="/bundle_app.css" type="text/css" />

	<!--[if lt IE 10]><script src="/assets/js/app/media.match.min.js"></script><![endif]-->

	<script src="/assets/js/app/modernizr.min.js"></script>
	<script src="/assets/js/app/detectizr.min.js"></script>

</head>