<div data-tc-templateid="{{template-id}}" data-tc-controller="Tc.Sample.TestModule">
    <h1>Submodule test_module {{template-id}}</h1>
    {{test}}

    {{value}}

    {{gugus}}

    {{#if items}}
    <h2>Adressen</h2>
    <ul>
        {{#each items}}
        <li>{{street}} {{streetNumber}}, {{zipCode}}</li>
        {{#if inner}}
        {{#each inner}}
            {{val}}
        {{/each}}
        {{/if}}
        {{/each}}
    </ul>
    {{/if}}
    <p style="font-weight:bold">{{text}}</p>

    {{partial template="components/modules/TestModule/testmodule-partial"}}

    <button id="btnAction" data-tc-action="reload">Render on client</button>

</div>