<div class="mod mod-nav">
	<ul class="nav-main js-nav-main">
	{{#each entries}}
		<li>
            <a href="{{url}}" class="nav-main-link {{#if subentries}}js-nav-main-link{{/if}} {{#if active}}state-active{{/if}}">{{content}}</a>
			{{#if subentries}}
			<ul class="nav-main-flyout js-nav-main-flyout">
				<i class="nav-close-btn js-nav-close-btn"></i>

				<li class="nav-main-content g-row">
					{{#each subentries}}
					<div class="g-cell s-1of{{columns}} nav-main-wrap">
						<h5 class="e-text main-flyout-title"><a href="{{url}}">{{content}}</a></h5>
						{{#if subentries}}
						<ul class="nav-main-content-list">
							{{#each subentries}}
							<li><a href="{{url}}">{{content}}</a></li>
							{{/each}}
						</ul>
						{{/if}}
					</div>
					{{/each}}
				</li>
			</ul>
			{{/if}}
		</li>
	{{/each}}
	</ul>
</div>
