<div class="mod mod-nav">

	<ul class="nav-main">
	{{#each entries}}

		<li>
			{{#if active}}
			<a href="javascript:;" class="state-active">{{name}}</a>
			{{else}}
			<a href="javascript:;">{{name}}</a>
			{{/if}}

			<ul class="nav-main-flyout">
				<i class="nav-close js-nav-close"></i>
				<li>
					<ul>
						<li>Link 1 //</li>
						<li>Link 1 //</li>
						<li>Link 1 //</li>
						<li>Link 1 //</li>
					</ul>
					<ul>
						<li>Link 1 //</li>
						<li>Link 1 //</li>
						<li>Link 1 //</li>
						<li>Link 1 //</li>
					</ul>
					<ul>
						<li>Link 1 //</li>
						<li>Link 1 //</li>
						<li>Link 1 //</li>
						<li>Link 1 //</li>
					</ul>
					<ul>
						<li>Link 1 //</li>
						<li>Link 1 //</li>
						<li>Link 1 //</li>
						<li>Link 1 //</li>
					</ul>
				</li>
			</ul>

		</li>

	{{/each}}
	</ul>

</div>
