<div class="mod-footer">

	<!-- Footer Linklist -->
	<div class="g-row footer-linklist">
		<div class="g-cell s-1of5">

			<!-- List 1 / Bewilligung -->
			<h3 class="footer-linklist-title">Bewilligung</h3>
			<ul class="footer-linklist">
				<li><a href="javascript:;">Alles zur Bewilligung</a></li>
				<li><a href="javascript:;">Banken</a></li>
				<li><a href="javascript:;">Versicherungen</a></li>
				<li><a href="javascript:;">Versicherungsvermittler</a></li>
				<li><a href="javascript:;">Kollektive Kapitalanlagen</a></li>
				<li><a href="javascript:;">Börsen & Märkte</a></li>
				<li><a href="javascript:;">Finanzdienstleister</a></li>
				<li><a href="javascript:;">Prüfgesellschaften</a></li>
				<li><a href="javascript:;">Bewillgte Organisationen</a></li>
				<li><a href="javascript:;">Warnliste</a></li>
			</ul>

		</div>
		<div class="g-cell s-1of5">

			<!-- List 2 / Aufsicht -->
			<h3 class="footer-linklist-title">Überwachung</h3>
			<ul class="footer-linklist">
				<li><a href="javascript:;">Alles über Überwachung</a></li>
				<li><a href="javascript:;">Banken</a></li>
				<li><a href="javascript:;">Versicherungen</a></li>
				<li><a href="javascript:;">Versicherungsvermittler</a></li>
				<li><a href="javascript:;">Kollektive Kapitalanlagen</a></li>
				<li><a href="javascript:;">Börsen & Märkte</a></li>
				<li><a href="javascript:;">Finanzdienstleister</a></li>
				<li><a href="javascript:;">Prüfgesellschaften</a></li>
			</ul>

		</div>
		<div class="g-cell s-1of5">

			<!-- List 3 / Durchsetzung -->
			<h3 class="footer-linklist-title">Durchsetzung</h3>
			<ul class="footer-linklist">
				<li><a href="javascript:;">Alles über Durchsetzung</a></li>
				<li><a href="javascript:;">Kundenschutz</a></li>
				<li><a href="javascript:;">Vorsorgliche Massnahmen</a></li>
				<li><a href="javascript:;">Konkurse</a></li>
				<li><a href="javascript:;">Kollektive Kapitalanlagen</a></li>
				<li><a href="javascript:;">Börsen & Märkte</a></li>
				<li><a href="javascript:;">Finanzdienstleister</a></li>
				<li><a href="javascript:;">Prüfgesellschaften</a></li>
			</ul>

		</div>
		<div class="g-cell s-1of5">

			<!-- List 4 / Dokumentation -->
			<h3 class="footer-linklist-title">Dokumentation</h3>
			<ul class="footer-linklist">
				<li><a href="javascript:;">Alles rund um Dokumentation</a></li>
				<li><a href="javascript:;">Gesetze & Verodrnungen</a></li>
				<li><a href="javascript:;">Rundschreiben</a></li>
				<li><a href="javascript:;">Anhörungen</a></li>
				<li><a href="javascript:;">Internationale Standards</a></li>
				<li><a href="javascript:;">Erläuterungen & Ausführungen</a></li>
				<li><a href="javascript:;">Mitteilungen</a></li>
			</ul>
		</div>
		<div class="g-cell s-1of5">

			<!-- List 5 / FINMA -->
			<h3 class="footer-linklist-title">FINMA</h3>
			<ul class="footer-linklist">
				<li><a href="javascript:;">Auftrag</a></li>
				<li><a href="javascript:;">Organisation</a></li>
				<li><a href="javascript:;">Internationales</a></li>
				<li><a href="javascript:;">Publikationen</a></li>
				<li><a href="javascript:;">Jobs & Karriere</a></li>
				<li><a href="javascript:;">Medien</a></li>
				<li><a href="javascript:;">Kontakt</a></li>
			</ul>

			<span class="footer-finmapublic-btn">
				<a href="finma-public" class="e-btn btn-standard">FINMA Public</a>
			</span>

			<ul class="footer-linklist">
				<li><a href="javascript:;">Bewilligte Institute</a></li>
				<li><a href="javascript:;">Warnliste</a></li>
				<li><a href="javascript:;">Misstand melden</a></li>
			</ul>

		</div>
	</div>
</div>
