<footer class="l-footer-wrapper" role="contentinfo">

    <div class="l-footer l-wrap">
        <div class="l-footer-top">
            <div class="g-row">
                <div class="g-cell s-3of5">
                    {{module template="footer_address"}}
                </div>
                <div class="g-cell s-2of5">
                    {{module template="footer_search"}}
                </div>
            </div>
        </div>

        <div class="l-footer-list">
            {{module template="footer_linklist"}}
        </div>

        <div class="l-footer-bottom">
            <div class="g-cell left">
                {{module template="footer_language"}}
                {{module template="footer_meta"}}
            </div>
            <div class="g-cell right">
                {{module template="footer_service"}}
            </div>
        </div>
    </div>

    <span class="footer-copy-extra">{{copyright}}</span>
</footer>