<title>{{title}}</title>
<meta charset="utf-8" />
<meta name="robots" content="noindex, nofollow" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="viewport" id="viewport-meta" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<link rel="shortcut icon" href="assets/img/icon/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="assets/img/icon/apple-touch-icon.png" />
<link rel="apple-touch-icon-precomposed" href="assets/img/icon/apple-touch-icon-precomposed.png" />

<meta name="application-name" content="Terrific Micro" />
<meta name="msapplication-TileColor" content="#5133ab" />
<meta name="msapplication-TileImage" content="assets/img/icon/tile-icon.png" />

<link rel="stylesheet" href="/bundle_app.css" type="text/css" />
<!--<script src="assets/js/app/modernizr.custom.js"></script>-->

<!--[if lt IE 10]>
<script src="assets/js/app/media.match.min.js"></script>
<![endif]-->
