<header class="l-head" role="banner">

    <div class="l-wrap">

        <!-- Mobile Btn -->
        <a class="e-btn btn-search-mobile js-btn-search-mobile" href="javascript:;"></a>
        <span class="e-btn btn-navmain-mobile js-btn-navmain-mobile"></span>
        
        <div class="g-row l-service js-l-service">
            <div class="g-cell left">
                {{module template="navmeta"}}
            </div>
            <div class="g-cell right">
                {{module template="navservice"}}
            </div>
        </div>

        <div class="g-row l-logo">
            {{module template="logo"}}
        </div>

        <nav class="g-row l-nav js-l-nav">
            {{module template="navmain"}}
        </nav>
    </div>

</header>