<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>title</title>
    </head>
    <body>
        Hello {{name}}
    
        <div>
            {{module template="test_module"}}
        </div>

        <ul>
            {{#each list}}
            <li>{{name}}</li>
            {{/each}}
        </ul>
        <ul>
            {{#each customer.orders}}
            <li>{{count}}</li>
            {{/each}}
        
            {{#if age}}
            <h1>{{age}}</h1>
            {{/if age}}
        </ul>
    </body>
</html>