<!DOCTYPE html>
<html>
<head>
    {{module template="head"}}
</head>
<body class="mod mod-layout" data-culture="de-CH">
    <form method="post" action="content" id="mainform">

        <div class="l-page">

            <!-- Header -->
            {{module template="header"}}

            <!-- Body -->
            <div class="l-body">

                <div class="l-background">
                    {{module template="stage"}}
                </div>

                <!-- Content-Wrapper -->
                <div class="l-content-wrapper l-wrap">
                    <div class="g-row">

                        <div class="g-cell s-flex">

                            <!-- Main left & Siderbar right -->
                            <div class="l-content l-left--right">

                                <div class="l-main">
                                    {{placeholder key="phMain"}}
                                </div>

                                <div class="l-sidebar">
                                    {{module template="sidebar_teaser"}}
                                    <!--<?php component(' SidebarTeaser', ' img-text1');?>

                                    <?php component(' SidebarTeaser', ' link-list');?>

                                    <?php component(' SidebarTeaser', ' teaser');?>

                                    <?php component(' SidebarTeaser', ' watchlist');?>

                                    <?php component(' SidebarTeaser', ' faq');?>-->
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <!-- Footer -->
            {{module template="footer" }}
        </div>

        {{module template="foot" }}
    </form>
</body>
</html>
