<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>title</title>
    </head>
    <body> 
        <div>
            {{module template="nav_main"}}
        </div>

        <ul>
            {{#each list}}
            <li>{{name}} {{firstname}}</li>
                {{#each children}}
                    {{name}}
                {{/each}}
            {{/each}}
        </ul>
        <ul>
            {{#each customer.orders}}
            <li>{{count}}</li>
            {{/each}}
        
            {{#if age}}
            <h1>{{age}}</h1>
            {{/if age}}

            {{age}}
        </ul>
    </body>
</html>