<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Translation</title>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="/$tcn/Core/js/ViewEngine.js"></script>
</head>
<body>
    <h1>Translation test</h1>
    {{label "person/male"}}
{{label "person/female"}}
<script type="text/javascript">
    ViewEngine.loadAndRenderAsync("/js/views/translation", result).then(function(html) {

    });
</script>
</body>
</html>