@model Finma.Internet.Core.Models.LogoModel

<div class="mod-logo">
    <a href="/">
        <img src="@Model.HeaderConfiguration.LogoImageField.GetMediaUrl()" width="212" height="47" alt="@Model.HeaderConfiguration.LogoImageField.GetAlt()">
    </a>
</div>
