<div class="mod mod-slider">
	<div class="e-box">

		{{#if title}}
		<div class="g-row">
			<h2 class="e-text">{{title}}</h2>
		</div>
		{{/if}}

		<div class="slider js-slider owl-carousel owl-theme">

			{{#if images}}
			{{#each images}}
			<div class="slider-item">
				<a class="slider-link" href="{{link}}">
					<img class="lazyOwl" data-src="{{source}}" alt="{{alt}}">

					<h3 class="slider-title">{{slider-title}}</h3>
					<p class="slider-text">
						Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum.
						Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis
						interdum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
						Aenean lacinia bibendum nulla sed consectetur.
					</p>
				</a>
			</div>
			{{/each}}
			{{/if}}

		</div>
	</div>
</div>
