<div class="mod mod-slider">

	<ul class="slider js-slider"
	    data-width="640"
	    data-height="240"
	    data-autoplay="false"
	    data-interval="7">

		<li class="slider-item">
			<a href="content">
				<div class="slider-box">
					<div class="slider-image">
						<img src="components/modules/Slider/img/slider-content-1.jpg" alt="Image" width="220" height="290"/>
					</div>

					<div class="slider-content">
						<span class="slider-content-title">FINMA – Ein Portrait.</span>

						<p class="slider-content-text">Lorem <?php loremWords(10,30); ?></p>

						<a class="e-text text-link-std" href="content">Inhalt</a>
					</div>
				</div>
			</a>
		</li>
	</ul>
</div>
