// -----------------------------------------
// Button Elements
// -----------------------------------------

@media screen {
	// -----------------------------------------
	// default button a || input type="submit"
	// -----------------------------------------
	.e-btn {
		display: block;
		padding: 4px 10px 4px 4px;

		// -----------------------------------------
		// Button Navigation
		// -----------------------------------------
		&.btn-navigation {
			.font-style (@font-frutiger-65-bold, @font-size-xs, normal, @blue);
			line-height: 19/16em;
			.border-radius(2px);

			padding-top: 5px;
			background: @flash-white;

		    -webkit-box-shadow: 1px 1px 1px 0px #bbb;
			   -moz-box-shadow: 1px 1px 1px 0px #bbb;
			        box-shadow: 1px 1px 1px 0px #bbb;


			&:hover {
				color: @red;
				background: @white;
			}

			&:focus,
			&:active {

			-webkit-box-shadow: 1px 1px 1px 0px #bbb;
				-moz-box-shadow: 1px 1px 1px 0px #bbb;
				     box-shadow: 1px 1px 1px 0px #bbb;

			}

			&.state-active {
				margin-top: 1px;
			    -webkit-box-shadow: -1px -1px 1px 0px #bbb;
				   -moz-box-shadow: -1px -1px 1px 0px #bbb;
				        box-shadow: -1px -1px 1px 0px #bbb;

			}
		}

		// -----------------------------------------
		// Button Standard
		// -----------------------------------------
		&.btn-standard {
			.font-style (@font-frutiger-65-bold, @font-size-s, normal, @white);
			.border-radius(5px);
			padding: 10px 16px 8px 16px;
			text-decoration: none;
			display: inline-block;
			position: relative;

			background: #0a3f80;
			background: -moz-linear-gradient(-15deg, #0a3f80 0%, #0a3f80 50%, #06336b 51%, #06336b 100%);
			background: -webkit-gradient(left top, right bottom, color-stop(0%, #0a3f80), color-stop(50%, #0a3f80), color-stop(51%, #06336b), color-stop(100%, #06336b));
			background: -webkit-linear-gradient(-15deg, #0a3f80 0%, #0a3f80 50%, #06336b 51%, #06336b 100%);
			background: -o-linear-gradient(-15deg, #0a3f80 0%, #0a3f80 50%, #06336b 51%, #06336b 100%);
			background: -ms-linear-gradient(-15deg, #0a3f80 0%, #0a3f80 50%, #06336b 51%, #06336b 100%);
			background: linear-gradient(165deg, #0a3f80 0%, #0a3f80 50%, #06336b 51%, #06336b 100%);
			filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a3f80', endColorstr='#06336b', GradientType=1 )";

			&:hover {
				background: @blue;
			}

			&:focus,
			&:active {
				background: #06346b;
			}

			.glyph-link {
				margin-left: 16px;

				&:before {
					.font-style(@font-finma-glyph, 26px, bold, @white);
					.glyph();
					content: '\@{glyph-link}';
					display: inline-block;
					position: absolute;
					top: 5px;
					left: 5px;
				}
			}

			.glyph-download {
				margin-left: 20px;

				&:before {
					.font-style(@font-finma-glyph, 26px, bold, @white);
					.glyph();
					content: '\@{glyph-download}';
					display: inline-block;
					position: absolute;
					top: 5px;
					left: 5px;
				}
			}
		}

		// -----------------------------------------
		// Button Secondary
		// -----------------------------------------
		&.btn-secondary {
			.font-style (@font-frutiger-65-bold, @font-size-xs, normal, @white);
			.border-radius(4px);
			border: 1px solid @light-gray;
			color: @deep-blue;
			line-height: 1;
			text-decoration: none;
			display: inline-block;
			padding: 7px 12px 5px 30px;
			position: relative;

		    background: #F8F8F8;
			//background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGYwZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
			background: -moz-linear-gradient(top,  #F8F8F8 0%, #F8F8F8 50%, #F0F0F0 51%, #F0F0F0 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F8F8F8), color-stop(50%,#F8F8F8), color-stop(51%,#F0F0F0), color-stop(100%,#F0F0F0));
			background: -webkit-linear-gradient(top,  #F8F8F8 0%,#F8F8F8 50%,#F0F0F0 51%,#F0F0F0 100%);
			background: -o-linear-gradient(top,  #F8F8F8 0%,#F8F8F8 50%,#F0F0F0 51%,#F0F0F0 100%);
			background: -ms-linear-gradient(top,  #F8F8F8 0%,#F8F8F8 50%,#F0F0F0 51%,#F0F0F0 100%);
			background: linear-gradient(to bottom,  #F8F8F8 0%,#F8F8F8 50%,#F0F0F0 51%,#F0F0F0 100%);
			filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f0f0f0',GradientType=0 )";

			&:hover {
				background: #FFF;
				//background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
				background: -moz-linear-gradient(top,  #FFF 0%, #FFF 50%, #E8E8E8 51%, #E8E8E8 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(50%,#FFF), color-stop(51%,#E8E8E8), color-stop(100%,#E8E8E8));
				background: -webkit-linear-gradient(top,  #FFF 0%,#FFF 50%,#E8E8E8 51%,#E8E8E8 100%);
				background: -o-linear-gradient(top,  #FFF 0%,#FFF 50%,#E8E8E8 51%,#E8E8E8 100%);
				background: -ms-linear-gradient(top,  #FFF 0%,#FFF 50%,#E8E8E8 51%,#E8E8E8 100%);
				background: linear-gradient(to bottom,  #FFF 0%,#FFF 50%,#E8E8E8 51%,#E8E8E8 100%);
				filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f0f0f0',GradientType=0 )";
				color: @red;
				}

				&:focus,
				&:active {
					background: #f2f2f2;
					color: @red;
				}

				&:before {
					.font-style (@font-finma-glyph, @font-size-xxx, bold, @red);
					.glyph();
					content: '\@{glyph-link}';
					position: absolute;
					top: 0;
					left: 3px;
				}
			}

			// -----------------------------------------
			// Button Search
			// -----------------------------------------
			&.btn-search {
				display: inline-block;
				border: 0; /* for use as button */
				overflow: visible; /* IE7 Fix */
				line-height: normal; /* normalize ff & webkit */
				cursor: pointer;
				text-decoration: none;
				padding: 5/16em 6/16em;

				-webkit-border-top-right-radius: 6px;
				-webkit-border-bottom-right-radius: 6px;
				-moz-border-radius-topright: 6px;
				-moz-border-radius-bottomright: 6px;
				border-top-right-radius: 6px;
				border-bottom-right-radius: 6px;

				background: #0A4080;
				//background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBhNDA4MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzBhNDA4MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzA2MzQ2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNjM0NmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
			    background: -moz-linear-gradient(top,  #0A4080 0%, #0A4080 50%, #06346B 51%, #06346B 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0A4080), color-stop(50%,#0A4080), color-stop(51%,#06346B), color-stop(100%,#06346B));
				background: -webkit-linear-gradient(top,  #0A4080 0%,#0A4080 50%,#06346B 51%,#06346B 100%);
				background: -o-linear-gradient(top,  #0A4080 0%,#0A4080 50%,#06346B 51%,#06346B 100%);
				background: -ms-linear-gradient(top,  #0A4080 0%,#0A4080 50%,#06346B 51%,#06346B 100%);
				background: linear-gradient(to bottom,  #0A4080 0%,#0A4080 50%,#06346B 51%,#06346B 100%);
				filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a4080', endColorstr='#06346b',GradientType=0 )";

				&:before {
					.font-style (@font-finma-glyph, 30px, normal, @white);
					.glyph();

					content: '\@{glyph-search}';
					vertical-align: middle;
					position: relative;
				}
			}

			// -----------------------------------------
			// Button Status
			// -----------------------------------------
			&.btn-status {
				.font-style (@font-frutiger-65-bold, @font-size-s, normal, @blue);
				.border-radius(5px);

				padding: 8px 12px 5px 12px;
				text-decoration: none;
				display: inline-block;
				position: relative;

				background: #0a3f80;
				background: -moz-linear-gradient(-10deg, #f8f8f8 0%, #f8f8f8 50%, #f3f3f3 51%, #f3f3f3 100%);
				background: -webkit-gradient(left top, right bottom, color-stop(0%, #f8f8f8), color-stop(50%, #f8f8f8), color-stop(51%, #f3f3f3), color-stop(100%, #f3f3f3));
				background: -webkit-linear-gradient(-10deg, #f8f8f8 0%, #f8f8f8 50%, #f3f3f3 51%, #f3f3f3 100%);
				background: -o-linear-gradient(-10deg, #f8f8f8 0%, #f8f8f8 50%, #f3f3f3 51%, #f3f3f3 100%);
				background: -ms-linear-gradient(-10deg, #f8f8f8 0%, #f8f8f8 50%, #f3f3f3 51%, #f3f3f3 100%);
				background: linear-gradient(170deg, #f8f8f8 0%, #f8f8f8 50%, #f3f3f3 51%, #f3f3f3 100%);
				filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f3f3f3', GradientType=1 )";

				&:hover {
					background: #f8f8f8;
					//background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGYwZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
					background: -moz-linear-gradient(top,  #f8f8f8 0%, #f8f8f8 50%, #f3f3f3 51%, #f3f3f3 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(50%,#f8f8f8), color-stop(51%,#f3f3f3), color-stop(100%,#f3f3f3));
					background: -webkit-linear-gradient(top,  #f8f8f8 0%,#f8f8f8 50%,#f3f3f3 51%,#f3f3f3 100%);
					background: -o-linear-gradient(top,  #f8f8f8 0%,#f8f8f8 50%,#f3f3f3 51%,#f3f3f3 100%);
					background: -ms-linear-gradient(top,  #f8f8f8 0%,#f8f8f8 50%,#f3f3f3 51%,#f3f3f3 100%);
					background: linear-gradient(to bottom,  #f8f8f8 0%,#f8f8f8 50%,#f3f3f3 51%,#f3f3f3 100%);
					filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f3f3f3',GradientType=0 )";
				}

				&:focus,
				&:active {
					color: @white;
					background: #086fa4;
					background: -moz-linear-gradient(90deg, #086fa4 0%, #0f73b1 0%, #0e4c99 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#086fa4), color-stop(0%,#0f73b1), color-stop(100%,#0e4c99));
					background: -webkit-linear-gradient(90deg, #086fa4 0%, #0f73b1 0%, #0e4c99 100%);
					background: -o-linear-gradient(90deg, #086fa4 0%, #0f73b1 0%, #0e4c99 100%);
					background: -ms-linear-gradient(90deg, #086fa4 0%, #0f73b1 0%, #0e4c99 100%);
					background: linear-gradient(0deg, #086fa4 0%, #0f73b1 0%, #0e4c99 100%);
					filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f3f3f3', GradientType=1 )";
				}
			}

			// -----------------------------------------
			// Button Finma Public
			// -----------------------------------------
			&.btn-finma-public {
				.font-style (@font-frutiger-65-bold, @font-size-l, normal, @white);
				.border-radius(5px);

				padding: 10px 16px 8px 16px;
				text-decoration: none;
				display: inline-block;
				position: relative;

				background: #0a3f80;
				background: -moz-linear-gradient(-15deg, #0a3f80 0%, #0a3f80 50%, #06336b 51%, #06336b 100%);
				background: -webkit-gradient(left top, right bottom, color-stop(0%, #0a3f80), color-stop(50%, #0a3f80), color-stop(51%, #06336b), color-stop(100%, #06336b));
				background: -webkit-linear-gradient(-15deg, #0a3f80 0%, #0a3f80 50%, #06336b 51%, #06336b 100%);
				background: -o-linear-gradient(-15deg, #0a3f80 0%, #0a3f80 50%, #06336b 51%, #06336b 100%);
				background: -ms-linear-gradient(-15deg, #0a3f80 0%, #0a3f80 50%, #06336b 51%, #06336b 100%);
				background: linear-gradient(165deg, #0a3f80 0%, #0a3f80 50%, #06336b 51%, #06336b 100%);
				filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a3f80', endColorstr='#06336b', GradientType=1 )";

				&:hover {
					background: @blue;
				}

				&:focus,
				&:active {
					background: #06346b;
				}

				&.state-active {
					background: #00254c;
					padding-bottom: 15px;
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}
			}

			// -----------------------------------------
			// Button Mobile
			// -----------------------------------------
			&.btn-navmain-mobile {
				display: none;
			}

			&.btn-search-mobile {
				display: none;
			}

			// -----------------------------------------
			// Button Icons
			// -----------------------------------------
			&.btn-icon {
				padding: 0;

				&.icon-rss {
					position: absolute;
					right: 0;
					bottom: 1px;
					text-decoration: none;

					&:after {
						.font-style (@font-finma-glyph, 26px, bold, @red);
						.glyph();
						content: '\@{glyph-rss}';
						font-size: 26px;
						display: inline-block;
					}
				}

				&.icon-document {
					&.pdf {
						&:before {
							.font-style (@font-finma-glyph, 30px, bold, @red);
							.glyph();
							content: '\@{glyph-pdf}';
						}
					}

					&.doc {
						&:before {
							.font-style (@font-finma-glyph, 30px, bold, @blue);
							.glyph();
							content: '\@{glyph-doc}';
						}
					}

					&.xls {
						&:before {
							.font-style (@font-finma-glyph, 30px, bold, @green);
							.glyph();
							content: '\@{glyph-xls}';
						}
					}

					&.ppt {
						&:before {
							.font-style (@font-finma-glyph, 30px, bold, @orange);
							.glyph();
							content: '\@{glyph-ppt}';
						}
					}

					&.zip {
						&:before {
							.font-style (@font-finma-glyph, 30px, bold, @dark-gray);
							.glyph();
							content: '\@{glyph-zip}';
						}
					}
				}

				&.icon-notification {
					&:before {
						.font-style (@font-finma-glyph, 30px, bold, @red);
						.glyph();
						content: '\@{glyph-basket}';
					}
				}

				&.icon-delete {
					&:before {
						.font-style (@font-finma-glyph, 34px, bold, @red);
						.glyph();
						content: '\@{glyph-delete}';
					}
				}
			}
		}
	}

// -----------------------------------------
// Firefox CSS Hack Desktop
// -----------------------------------------


//@-moz-document url-prefix() {
//	.e-btn.btn-finma-public.state-active {
//		padding-bottom: 16px
//	}
//}


// -----------------------------------------
// RWD: Mobile Breakpoint < 768px
// -----------------------------------------

@media (max-width: @bp-md) {
	.e-btn {

		// -----------------------------------------
		// Button Status
		// -----------------------------------------
		&.btn-status {
			width: 100%;
		}

		// -----------------------------------------
		// Button Finma Public
		// -----------------------------------------
		&.btn-finma-public {
			width: 100%;
			padding: 14px 16px 12px 14px;
			display: block;
			.border-radius(0);
			.font-style(@font-frutiger-65-bold, @font-size-l, normal, @white);

			background: #0a3f80;
			background: -moz-linear-gradient(-8deg, #0a3f80 0%, #0a3f80 50%, #06336b 51%, #06336b 100%);
			background: -webkit-gradient(left top, right bottom, color-stop(0%, #0a3f80), color-stop(50%, #0a3f80), color-stop(51%, #06336b), color-stop(100%, #06336b));
			background: -webkit-linear-gradient(-8deg, #0a3f80 0%, #0a3f80 50%, #06336b 51%, #06336b 100%);
			background: -o-linear-gradient(-8deg, #0a3f80 0%, #0a3f80 50%, #06336b 51%, #06336b 100%);
			background: -ms-linear-gradient(-8deg, #0a3f80 0%, #0a3f80 50%, #06336b 51%, #06336b 100%);
			background: linear-gradient(172deg, #0a3f80 0%, #0a3f80 50%, #06336b 51%, #06336b 100%);
			filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a3f80', endColorstr='#06336b', GradientType=1 )";

			&:after {
				.font-style (@font-finma-glyph, 32px, bold, @white);
				.glyph();
				content: '\@{glyph-arw-m-down}';
				display: inline-block;
				float: right;
				margin-top: -4px;
				margin-right: 4px;
				line-height: 1;
				.rotate(-90deg);
			}

			&.state-active {
				padding-bottom: 10px;
			}
		}

		// -----------------------------------------
		// Button Mobile
		// -----------------------------------------
		&.btn-navmain-mobile {
			display: block;
			width: 40px;
			height: 40px;
			background: transparent;
			position: absolute;
			right: 16px;
			top: 12px;
			cursor: pointer;
			outline-style: none;
			.user-select();

			&:before {
				.font-style (@font-finma-glyph, 34px, bold, @deep-blue);
				.glyph();
				content: '\@{glyph-menu}';
				display: inline-block;
				margin-top: 1px;
			}

			&.state-active {
				background: transparent;

				&:before {
					.font-style (@font-finma-glyph, 34px, bold, @deep-blue);
					.glyph();
					content: '\@{glyph-menu-close}';
					display: block;
					margin-top: 1px;
				}
			}
		}

		&.btn-search-mobile {
			display: block;
			width: 40px;
			height: 40px;
			background: transparent;
			position: absolute;
			right: 60px;
			top: 12px;
			cursor: pointer;
			outline-style: none;
			.user-select();
			text-decoration: none;

			&:before {
				.font-style (@font-finma-glyph, 34px, bold, @deep-blue);
				.glyph();
				content: '\@{glyph-search}';
				display: inline-block;
				margin-top: 1px;
			}
		}

		// -----------------------------------------
		// Button Icon
		// -----------------------------------------
		&.btn-icon {

			padding: 0;
			&.icon-document {
				&.pdf {
					&:before {
						.font-style (@font-finma-glyph, 24px, normal, @red);
					}
				}

				&.doc {
					&:before {
						.font-style (@font-finma-glyph, 24px, normal, @blue);
					}
				}

				&.xls {
					&:before {
						.font-style (@font-finma-glyph, 24px, normal, @green);
					}
				}

				&.ppt {
					&:before {
						.font-style (@font-finma-glyph, 24px, normal, @orange);
					}
				}

				&.zip {
					&:before {
						.font-style (@font-finma-glyph, 24px, normal, @dark-gray);
					}
				}
			}

			&.icon-notification {
				&:before {
					.font-style (@font-finma-glyph, 30px, bold, @red);
					.glyph();
					content: '\@{glyph-basket}';
				}
			}
		}
	}
}

	// -----------------------------------------
	// Print Style
	// -----------------------------------------
	@media print {
		.e-btn {
			display: none;

			&.btn-navmain-mobile {
				display: none;
			}
		}
	}
