// -----------------------------------------
// Elements - Text
// -----------------------------------------

.e-text {

	// -----------------------------------------
	// Headlines & Text
	// -----------------------------------------

	h1, h1& {
		.font-style (@font-lato, @font-size-46px, @onyx);
		font-weight: 200;
	}

	h2, h2& {
		.font-style (@font-lato, @font-size-32px, @onyx);
		margin: 16px 0;
		font-weight: 100;
		border-bottom: 1px solid @gray;
		display: inline-block;
	}

	h3, h3& {
		.font-style (@font-lato, @font-size-26px, @onyx);
		font-weight: 100;
		margin: 16px 0;
	}

	h4, h4& {
		.font-style (@font-lato, @font-size-22px, @onyx);
		font-weight: 100;
		margin: 16px 0;
	}

	h5, h5& {
		.font-style (@font-lato, @font-size-20px, @onyx);
		font-weight: 100;
	}

	h6, h6& {
		.font-style (@font-lato, @font-size-18px, @onyx);
		font-weight: 100;
	}

	p, p& {
		.font-style (@font-lato, @font-size-16px, @onyx);
		font-weight: 100;
		margin-bottom: 24px;
		line-height: 24px;
	}

	ul, ul& {

		list-style: none;
		margin-bottom: 32px;

		li {
			.font-style(@font-lato, @font-size-16px, @onyx);
			font-weight: 100;
			padding-left: 2px;
			margin-bottom: 4px;

			&:before {
				content: "■";
				color: @pink;
				margin-right: 8px;
			}
		}
	}

	a, a& {
		.font-style(@font-lato, @font-size-16px, @pink);
		font-weight: 100;
		padding: 4px;
		text-decoration: none;
		.transition(.5s);

		&:hover {
			color: @white;
			text-decoration: none;
			background: @link-hover-color;
			.transition(.25s);
		}

		&.state-active {
			color: @link-state-active;
		}
	}

	table,
	table& {
		width: 100%;
		border-collapse: collapse;
		border: 1px solid @space-gray;
		color: @dark-gray;
		margin-bottom: 48px;

		tr {
			.font-style(@font-lato, @font-size-16px, @onyx);
			font-weight: 100;
			background-color: @white;
			.transition(.25s);

			&:nth-child(2n+2) {
				background: @silver-gray;
			}

			&:last-child {
				background: @silver-gray;
			}

			&:hover {
				background-color: @pink;
				color: @white;
				.transition(.25s);
			}
		}

		th, td {
			padding: 12px 15px;
			border-collapse: collapse;
		}

		th {
			.font-style(@font-lato, @font-size-16px, @white);
			font-weight: 600;
			background: @dark-gray;
		}
	}
}

// -----------------------------------------
// RWD: Mobile Breakpoint < 960px
// -----------------------------------------
@media (max-width: 959px) {
	.e-text {
		h2, h2& {
			font-size: 24px;
			margin-right: 8px;
			margin-left: 8px;
		}

		table,
		table& {
			display: block;
			width: auto;
			position: relative;
			white-space: nowrap;
			overflow: scroll;
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
		}
	}
}