// -----------------------------------------
// Grid
// -----------------------------------------

@media all {
	.g-table {
		display: table;

		.g-cell {
			display: table-cell;
			float: none;
			vertical-align: top;
			text-align: left;

			&.middle {
				vertical-align: middle;
			}
		}
	}

	.g-row {
		//*zoom: 1;

		&:before,
		&:after {
			display: table;
			line-height: 0;
			content: '';
		}
		&:after {
			clear: both;
		}
	}

	.g-cell {
		float: left;
		min-height: 1px;

		&:first-child { margin-left: 0; }

		&.s-flex { width: 100%; }
		&.s-1of2 { width: 50%;}

		&.s-1of3 { width: 33.3333%; }
		&.s-2of3 { width: 66.6666%; }

		&.s-1of4 { width: 25%; }
		&.s-3of4 { width: 75%; }

		&.s-1of5 { width: 20%; }
	}

	.g-col { padding: 0; }
}

// -----------------------------------------
// RWD: Mobile Breakpoint < 660px
// -----------------------------------------
@media (max-width: 659px) {

	.g-cell {

		margin-left: 0;

		&.s-1of2 { width: 100%; }
		&.s-1of3 { width: 100%; }
		&.s-2of3 { width: 100%; }

		&.s-1of4 { width: 100%; }
		&.s-3of4 { width: 100%; }

		&.s-1of5 { width: 100%; }
	}
}