<div class="mod mod-nav-sidebar">

	<span class="nav-sidebar-mobile-title js-nav-sidebar-mobile-title">Unterthemen</span>

	<!-- sidebar-list-level-1 -->
	<ul class="nav-sidebar-list-level-1">
		<li><a href="content-bewilligung" class="state-active js-state-active">Alles zur Bewilligung</a></li>
		<li><a href="javascript:;" class="XXXstate-active">Banken</a></li>
		<li><a href="javascript:;" class="XXXstate-active">Versicherer</a></li>
		<li><a href="javascript:;" class="XXXstate-active">Versicherungsvermittler</a></li>
		<li><a href="javascript:;" class="XXXstate-active">Kollektive Kapitalanlagen</a></li>
		<li><a href="javascript:;" class="XXXstate-active">Börsen & Märkte</a></li>
		<li><a href="javascript:;" class="XXXstate-active">Finanzdienstleister</a></li>
		<li><a href="javascript:;" class="XXXstate-active">Bewilligte Organisationen</a></li>
		<li><a href="javascript:;" class="XXXstate-active">Warnliste</a></li>
	</ul>

</div>
