<div class="mod mod-nav-sidebar">

	<span class="nav-sidebar-mobile-title js-nav-sidebar-mobile-title">Unterthemen</span>

	<!-- sidebar-list-level-1 -->
	<ul class="nav-sidebar-list-level-1">
		<li class="Xstate-active"><a href="javascript:;">Alles zur Bewilligung</a></li>
		<li class="Xstate-active"><a href="javascript:;">Banken</a></li>
		<li class="Xstate-active"><a href="javascript:;">Versicherer</a></li>
		<li class="Xstate-active"><a href="javascript:;">Versicherungsvermittler</a></li>
		<li class="state-active"><a href="javascript:;">Kollektive Kapitalanlagen</a>

			<!-- sidebar-list-level-2 -->
			<ul class="nav-sidebar-list-level-2">
				<li class="Xstate-active"><a href="javascript:;">Level-2 Link A</a></li>
				<li class="state-active"><a href="javascript:;">Level-2 Link B</a>

					<!-- sidebar-list-level-3 -->
					<ul class="nav-sidebar-list-level-3">
						<li class="Xstate-active"><a href="javascript:;">Level-3 Link A</a></li>
						<li class="state-active"><a href="javascript:;">Level-3 Link B</a>

							<!-- sidebar-list-level-4 -->
							<ul class="nav-sidebar-list-level-4">
								<li class="state-active"><a href="javascript:;">Level-4 Link A</a>

									<!-- sidebar-list-level-5 -->
									<ul class="nav-sidebar-list-level-5 state-selected js-state-selected">
										<li class="state-active"><a href="javascript:;">Level-5 Link A</a></li>
										<li class="Xstate-active"><a href="javascript:;">Level-5 Link B</a></li>
									</ul>

								</li>
								<li class="Xstate-active"><a href="javascript:;">Level-4 Link B</a></li>
								<li class="Xstate-active"><a href="javascript:;">Level-4 Link C</a></li>
								<li class="Xstate-active"><a href="javascript:;">Level-4 Link D</a></li>
								<li class="Xstate-active"><a href="javascript:;">Level-4 Link E</a></li>
							</ul>

						</li>
						<li class="Xstate-active"><a href="javascript:;">Level-3 Link C</a></li>
					</ul>

				</li>
				<li class="Xstate-active"><a href="javascript:;">Level-2 Link C</a></li>
			</ul>

		</li>
		<li class="Xstate-active"><a href="javascript:;">Börsen & Märkte</a></li>
		<li class="Xstate-active"><a href="javascript:;">Finanzdienstleister</a></li>
		<li class="Xstate-active"><a href="javascript:;">Bewilligte Organisationen</a></li>
		<li class="Xstate-active"><a href="javascript:;">Warnliste</a></li>
	</ul>

</div>