<div class="mod mod-nav-sidebar">

	<span class="nav-sidebar-mobile-title js-nav-sidebar-mobile-title">Level 1 active > Show Level 2 on mobile</span>

	<!-- sidebar-list-level-1 -->
	<ul class="nav-sidebar-list-level-1 state-selected js-state-selected">
		<li class="Xstate-active"><a href="myfinma-login">MyFINMA</a></li>

			<!-- sidebar-list-level-2 -->
			<ul class="nav-sidebar-list-level-2">
				<li class="state-active"><a href="myfinma-news-service">News-Service</a></li>
				<li class="Xstate-active"><a href="javascript:;">Dokumente Updates</a></li> 
				<li class="Xstate-active"><a href="myfinma-watchlist">Merkliste</a></li>
			</ul>
		</li>
	</ul>
</div>