<h1 class="terrific">
    Terrific vNext Start.
    <span>Hi .</span>
</h1>

<div class="row">
    <div class="col-sm-12 col-md-10">
        <h3>Applications</h3>
        {{#if applications}}
        {{#each applications}}
        <h4 class="list-group-item-heading">{{name}}</h4>

        {{#if views}}
        <h5>Pages</h5>
        <div class="list-group">

            {{#each views}}
            {{partial template="components/modules/ApplicationOverview/partials/row"}}
            {{/each}}

        </div>
        {{/if}}

        {{#if modules}}
        <h5>Modules</h5>
        <div class="list-group">

            {{#each modules}}
            {{partial template="components/modules/ApplicationOverview/partials/row"}}
            {{/each}}

        </div>
        {{/if}}
        {{#if partials}}
        <h5>Partials</h5>
        <div class="list-group">

            {{#each partials}}
            {{partial template="components/modules/ApplicationOverview/partials/row"}}
            {{/each}}

        </div>
        {{/if}}

        {{/each}}
        {{/if}}
    </div>
</div>