<div class="list-group-item clearfix">
    {{#if url}}
    <a href="{{url}}" alt="">{{text}}</a>
    {{else}}
    {{text}}
    {{/if}}
    <span class="pull-right">
        {{#if editUrl}}<a href="{{editUrl}}" class="btn btn-xs" role="button">Data</a>{{/if}}
        {{#if pageEditUrl}}<a href="{{pageEditUrl}}" class="btn btn-xs" role="button">Page Editor</a>{{/if}}
        {{#if schemaUrl}}<a href="{{schemaUrl}}" class="btn btn-xs" role="button">Schema</a>{{/if}}
        {{#if advancedUrl}}<a href="{{advancedUrl}}" class="btn btn-xs" role="button">Advanced</a>{{/if}}
    </span>
</div>