<div class="row page-editor" data-app="{{app}}" data-id="{{id}}">
    <script type="text/json" id="siteDefinition">
        {{{pageJson}}}
    </script>
    <div class="col-md-10">
        <div>
            <div class="col-xs-6"><h3>PageEditor</h3></div><div class="col-xs-6 buttons"><button class="btn btn-primary js-save">save</button><button class="btn btn-default js-cancel">close</button></div></div>
        <div class="page col-xs-12">
            {{{pageHtml}}}
        </div>
    </div>
    <div class="col-md-2 sidebar">
        <h3 class="title">Modules</h3>
        {{#each modules}}
        <div class="module" draggable="true" data-id="{{id}}">
            <div class="name">{{name}}</div>
        </div>
        {{#each skins}}
        <div class="module" draggable="true" data-id="{{../id}}" data-skin="{{this}}">
            <div class="name">{{../name}} - {{this}}</div>
        </div>
        {{/each}}
        {{/each}}
    </div>
</div>