<div class="mod mod-tab">

	<div class="e-box">

		<div class="g-row">
			<h2 class="e-text">Tab Modul</h2>
		</div>

		<div class="tab-container js-tab-container">
			<ul class="tab-list js-tab-list">
				<li class="tab-link state-active" data-tab="tab-1">Tab One</li>
				<li class="tab-link" data-tab="tab-2">Tab Two</li>
				<li class="tab-link" data-tab="tab-3">Tab Three</li>
				<li class="tab-link" data-tab="tab-4">Tab Four</li>
			</ul>

			<div id="tab-1" class="tab-content js-tab-content state-active">
				<p class="e-text">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
				dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
				ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
				Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
				laborum.
				</p>
			</div>
			<div id="tab-2" class="tab-content js-tab-content">
				<p class="e-text">
				Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum. Aenean eu leo quam.
				Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum.
				Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem necelit.
				Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
				</p>
			</div>
			<div id="tab-3" class="tab-content js-tab-content">
				<p class="e-text">
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
				Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
				exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</p>
			</div>
			<div id="tab-4" class="tab-content js-tab-content">
				<p class="e-text">
					Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum. Aenean eu leo quam.
					Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum.
					Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem necelit.
					Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
				</p>
			</div>
		</div>

		<div class="g-row" style="margin: 12px 0;">
			<button class="e-btn btn-primary">Button Primary</button>
			<button class="e-btn btn-secondary">Button Secondary</button>
			<button class="e-btn btn-success">Button Success</button>
			<button class="e-btn btn-error">Button Error</button>
		</div>

	</div>

</div>
