<div class="mod mod-tab">

	<div class="e-box">

		<div class="g-row">
			<h2 class="e-text">Tab Modul</h2>
		</div>

		<div class="tab-container js-tab-container">
			<ul class="tab-list js-tab-list">
				{{#each tabs}}
					<li class="tab-link state-active" data-tab="tab-{{id}}">{{title}}</li>
				{{/each}}
			</ul>
			
			{{#each tabs}}
				{{#grid-cell padding=16}}
				<div id="tab-{{id}}" class="tab-content js-tab-content">
					{{placeholder key="tab" index="id"}}
				</div>
				{{/grid-cell}}
			{{/each}}
		</div>

	</div>

</div>
