.page-editor .buttons {
  height: 56px;
  line-height: 56px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}
.page-editor .buttons button {
  margin-left: 16px;
}
.page-editor .page {
  padding: 32px;
  border: 1px solid #ccc;
}
.page-editor .page .plh {
  position: relative;
  width: 100%;
  height: 32px;
  background-color: #bbb;
  line-height: 28px;
  text-align: center;
  border: 2px dashed #999;
}
.page-editor .page .plh.drag-over {
  background-color: #888888;
}
.page-editor .page .plh.module {
  background-color: #ddd;
}
.page-editor .page .plh.module.drag-over {
  background-color: #aaaaaa;
}
.page-editor .page .plh.template {
  background-color: #fff;
}
.page-editor .page .plh.template.drag-over {
  background-color: #cccccc;
}
.page-editor .page .plh .btn-delete {
  position: absolute;
  right: 16px;
  cursor: pointer;
}
.page-editor .sidebar {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 50px;
  padding: 8px;
  overflow: auto;
  border-left: 1px solid #ccc;
}
.page-editor .sidebar .module,
.page-editor .sidebar .layout {
  background-color: #0b82bE;
  color: white;
  padding: 16px;
  border-radius: 6px;
  margin-bottom: 8px;
  cursor: all-scroll;
  word-break: break-all;
  height: auto;
  word-wrap: break-word;
}
.page-editor .sidebar .title {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  font-size: 24px;
  margin-bottom: 16px;
}
.page-editor .sidebar .title:not(:first-child) {
  margin-top: 20px;
}
