@media all {
	.skin-linklist-vertical {
		.linklist {
			li a {
				.opacity(70);

				&:hover {
					.opacity(100);
				}
			}
		}
	}
}

// -----------------------------------------
// RWD: Mobile Breakpoint < 660px
// -----------------------------------------
@media screen and (max-width: 659px) {
	.skin-linklist-vertical {

		h3 {
			position: relative;
			cursor: pointer;

			&:after {
				.font-style (@font-icon, 20px, @link-state-active);
				.icon-font();
				.transition(.5s);
				.rotate(270deg);
				content: @icon-arrow-right;
				position: absolute;
				top: 0;
				margin-left: 6px;
			}

			&.state-active {
				&:after {
					.rotate(90deg);
					.transition(0.5s);
				}
			}
		}
	}
}
