// -----------------------------------------
// Colors
// -----------------------------------------
@black:         #000;           //rgb(0,0,0);
@white:         #fff;           //rgb(255,255,255);
@flash-white:   #f3f3f3;        //rgb(243, 243, 243);

@deep-blue:     #073B82;        //rgb(7,59,130);
@light-blue:    #0b82bE;        //rgb(11,130,190);

@onyx:          #111;           //rgb(17,17,17);
@blue:          #003388;        //rgb(0,51,136);
@red:           #cc0000;        //rgb(204,0,0);
@gray:          #666;           //rgb(102,102,102);

@light-gray:    #ccc;           //rgb(204,204,204);
@smoke-gray:    #f8f8f8;        //rgb(248,248,248);
@white-gray:    #efefef;        //rgb(239,239,239);
@silver-gray:   #ddd;           //rgb(221,221,221);
@mercury-gray:  #e5e5e5;

@green:         #809e00;
@orange:        #e14e00;
@dark-gray:     #333;

// -----------------------------------------
// Text
// -----------------------------------------
@text-color:    @onyx;

// -----------------------------------------
// Font
// -----------------------------------------
@font-base:              'Times New Roman';

@font-frutiger-45-light: 'FrutigerLTW01-45Light';   //'Frutiger 45 Light';
@font-frutiger-55-roman: 'FrutigerLTW01-55Roman';   //'Frutiger 55 Roman';
@font-frutiger-65-bold:  'Frutiger LT W01_65 Bold'; //'Frutiger 65 Bold';

@font-finma-glyph:       'finma';

@font-size-base:   100%;   // 16px
@font-size-normal: 1em;     // 16px

//@font-size-xxs:    0.5em;   // 7px
//@font-size-xss:    0.75em;  // 11px
//@font-size-xsm:    0.8em;   // 12px

@font-size-xs:     .8125em; // 13px
@font-size-s:       .875em; // 14px
@font-size-m:          1em; // 16px
@font-size-l:      1.125em; // 18px
@font-size-ll:     1.250em; // 20px
@font-size-xl:     1.375em; // 22px
@font-size-xxl:    1.875em; // 30px
@font-size-xxx:        2em; // 32px
@font-size-xxxl:     2.5em; // 40px

// -----------------------------------------
// Elements
// -----------------------------------------
@page-bg-color: #f6f6f6;
@page-width:    975/16em;
@content-grid-padding:  42/16em 25/16em 100/16em 25/16em;
@footer-grid-padding:  40/16em 26/16em 16/16em 26/16em;

// -----------------------------------------
// Breakpoints
// -----------------------------------------

@bp-sm:     500/16em; // small-vw
@bp-md:     767/16em; // medium-vw
@bp-lg:     974/16em; // large-vw

// -----------------------------------------
// Glyphs
// -----------------------------------------
@glyph-arw-m-down:      'e600';
@glyph-arw-m-left:      'e601';
@glyph-arw-m-up:        'e602';
@glyph-arw-s-right:     'e603';
@glyph-arw-s-down:      'e604';
@glyph-arw-s-left:      'e605';
@glyph-arw-m-right:     'e606';
@glyph-arw-s-up:        'e607';
@glyph-basket:          'e608';
@glyph-delete:          'e609';
@glyph-document:        'e60a';
@glyph-documents:       'e60b';
@glyph-download_simple: 'e60c';
@glyph-download:        'e60d';
@glyph-link-ext:        'e60e';
@glyph-link:            'e60f';
@glyph-menu:            'e610';
@glyph-menu-close:      'e61d';
@glyph-news:            'e611';
@glyph-phone:           'e612';
@glyph-rss:             'e613';
@glyph-question:        'e614';
@glyph-search:          'e615';
@glyph-pdf:             'e616';
@glyph-ppt:             'e617';
@glyph-doc:             'e618';
@glyph-xls:             'e619';
@glyph-zip:             'e61a';
@glyph-lock-open:       'e61b';
@glyph-lock-closed:     'e61c';
