@media all {
	.mod-linklist {
		margin-left: 8px;

		h3 {
			.font-style(@font-lato, @font-size-16px, @white);
			font-weight: bold;
			padding-bottom: 16px;
			display: inline-block;

		}

		.linklist {

			padding-bottom: 24px;

			li {

				margin-bottom: 8px;

				a {
					.font-style(@font-lato, @font-size-15px, @white);
					font-weight: 200;
					text-decoration: none;
					display: inline-block;
					.transition(.5s);

					&:hover {
						color: @link-hover-color;
						.transition(.25s);
					}
				}

				span {
					.font-style(@font-lato, @font-size-15px, @white);
					font-weight: 200;
				}
			}
		}
	}
}

// -----------------------------------------
// RWD: Mobile Breakpoint < 660px
// -----------------------------------------
@media screen and (max-width: 659px) {
	.mod-linklist {
		.linklist {
			//display: inline-block;
		}
	}
}