<div class="mod mod-document-teaser">
	<a name="FCMS23"></a>
	<h2 class="e-text">Bericht über den Versicherungsmarkt.</h2>

	<!-- PDF -->
	<div class="document-teaser-box">
		<a class="e-btn btn-icon icon-document pdf" href="javascript:;"></a>

		<div class="document-teaser-box-content">
			<a class="document-teaser-box-title" href="javascript:;">Pharetra Pellentesque Egestas Cras Fusce</a>

			<p class="document-teaser-box-text js-document-teaser-box-text">Wann und in welcher Form der SST eingereicht
				werden muss.</p>

			<div class="document-teaser-box-info js-document-teaser-box-info">
				<span class="document-teaser-box-update">Update: 31.10.201</span>
				<span class="document-teaser-box-size">Grösse: 0.5mb</span>
				<ul class="document-teaser-language-list">
					<li class="document-teaser-box-language-title">Sprachen:</li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">DE</a></li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">FR</a></li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">IT</a></li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">EN</a></li>
				</ul>
			</div>
		</div>
		<a class="e-btn btn-icon icon-notification js-icon-notification" href="javascript:;"><span
				class="notification-text">Zur Merkliste</span></a>
		<span class="document-teaser-nav-mobile js-document-teaser-nav-mobile"></span>
	</div>

	<!-- DOC -->
	<div class="document-teaser-box">
		<a class="e-btn btn-icon icon-document doc" href="javascript:;"></a>

		<div class="document-teaser-box-content">
			<a class="document-teaser-box-title" href="javascript:;">Donec ullamcorper nulla non metus auctor
				fringilla</a>

			<p class="document-teaser-box-text js-document-teaser-box-text">Wann und in welcher Form der SST eingereicht
				werden muss.</p>

			<div class="document-teaser-box-info js-document-teaser-box-info">
				<span class="document-teaser-box-update">Update: 31.10.201</span>
				<span class="document-teaser-box-size">Grösse: 0.5mb</span>
				<ul class="document-teaser-language-list">
					<li class="document-teaser-box-language-title">Sprachen:</li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">DE</a></li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">FR</a></li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">IT</a></li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">EN</a></li>
				</ul>
			</div>
		</div>
		<a class="e-btn btn-icon icon-notification js-icon-notification" href="javascript:;">
			<span class="notification-text">Zur Merkliste</span></a>
		<span class="document-teaser-nav-mobile js-document-teaser-nav-mobile"></span>
	</div>

	<!-- XLS -->
	<div class="document-teaser-box">
		<a class="e-btn btn-icon icon-document xls" href="javascript:;"></a>

		<div class="document-teaser-box-content">
			<a class="document-teaser-box-title" href="javascript:;">Fringilla Magna Nullam Porta Consectetur</a>

			<p class="document-teaser-box-text js-document-teaser-box-text">Wann und in welcher Form der SST eingereicht
				werden muss.</p>

			<div class="document-teaser-box-info js-document-teaser-box-info">
				<span class="document-teaser-box-update">Update: 31.10.201</span>
				<span class="document-teaser-box-size">Grösse: 0.5mb</span>
				<ul class="document-teaser-language-list">
					<li class="document-teaser-box-language-title">Sprachen:</li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">DE</a></li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">FR</a></li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">IT</a></li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">EN</a></li>
				</ul>
			</div>
		</div>
		<a class="e-btn btn-icon icon-notification js-icon-notification" href="javascript:;"><span
				class="notification-text">Zur Merkliste</span></a>
		<span class="document-teaser-nav-mobile js-document-teaser-nav-mobile"></span>
	</div>

	<!-- PPT -->
	<div class="document-teaser-box">
		<a class="e-btn btn-icon icon-document ppt" href="javascript:;"></a>

		<div class="document-teaser-box-content">
			<a class="document-teaser-box-title" href="javascript:;">Vehicula Consectetur Adipiscing Porta</a>

			<p class="document-teaser-box-text js-document-teaser-box-text">Wann und in welcher Form der SST eingereicht
				werden muss.</p>

			<div class="document-teaser-box-info js-document-teaser-box-info">
				<span class="document-teaser-box-update">Update: 31.10.201</span>
				<span class="document-teaser-box-size">Grösse: 0.5mb</span>
				<ul class="document-teaser-language-list">
					<li class="document-teaser-box-language-title">Sprachen:</li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">DE</a></li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">FR</a></li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">IT</a></li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">EN</a></li>
				</ul>
			</div>
		</div>
		<a class="e-btn btn-icon icon-notification js-icon-notification" href="javascript:;"><span
				class="notification-text">Zur Merkliste</span></a>
		<span class="document-teaser-nav-mobile js-document-teaser-nav-mobile"></span>
	</div>

	<!-- ZIP -->
	<div class="document-teaser-box">
		<a class="e-btn btn-icon icon-document zip" href="javascript:;"></a>

		<div class="document-teaser-box-content">
			<a class="document-teaser-box-title" href="javascript:;">Aenean eu leo quam. Pellentesque ornare sem lacinia
				quam venenatis vestibulum</a>

			<p class="document-teaser-box-text js-document-teaser-box-text">Wann und in welcher Form der SST eingereicht
				werden muss.</p>

			<div class="document-teaser-box-info js-document-teaser-box-info">
				<span class="document-teaser-box-update">Update: 31.10.201</span>
				<span class="document-teaser-box-size">Grösse: 0.5mb</span>
				<ul class="document-teaser-language-list">
					<li class="document-teaser-box-language-title">Sprachen:</li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">DE</a></li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">FR</a></li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">IT</a></li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">EN</a></li>
				</ul>
			</div>
		</div>
		<a class="e-btn btn-icon icon-notification js-icon-notification" href="javascript:;"><span
				class="notification-text">Zur Merkliste</span></a>
		<span class="document-teaser-nav-mobile js-document-teaser-nav-mobile"></span>
	</div>
</div>
