<div class="mod mod-document-teaser skin-document-teaser-watchlist">

	<div class="document-teaser-heading-line">
		<p class="document-teaser-headline-title">3 Dokumente</p>
		<a class="e-text text-link-delete h-right" href="javascript:;">Leeren</a>
	</div>

	<!-- PDF -->
	<div class="document-teaser-box">

		<div class="document-teaser-checkbox">
			<input type="checkbox" value="1" id="checkbox1" name="" />
			<label for="checkbox1"></label>
		</div>

		<a class="e-btn btn-icon icon-document pdf" href="javascript:;"></a>

		<div class="document-teaser-box-content">
			<a class="document-teaser-box-title" href="javascript:;">Pharetra Pellentesque Egestas Cras Fusce</a>

			<p class="document-teaser-box-text js-document-teaser-box-text">Wann und in welcher Form der SST eingereicht
				werden muss.</p>

			<div class="document-teaser-box-info js-document-teaser-box-info">
				<span class="document-teaser-box-update">Update: 31.10.201</span>
				<span class="document-teaser-box-size">Grösse: 0.5mb</span>
				<ul class="document-teaser-language-list">
					<li class="document-teaser-box-language-title">Sprachen:</li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">DE</a></li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">FR</a></li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">IT</a></li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">EN</a></li>
				</ul>
			</div>
		</div>
		<a class="e-btn btn-icon icon-delete js-icon-delete" href="javascript:;"><span
				class="notification-text">Entfernen</span></a>
		<span class="document-teaser-nav-mobile js-document-teaser-nav-mobile"></span>
	</div>

	<!-- DOC -->
	<div class="document-teaser-box">

		<div class="document-teaser-checkbox">
			<input type="checkbox" value="1" id="checkbox2" name="" />
			<label for="checkbox2"></label>
		</div>

		<a class="e-btn btn-icon icon-document doc" href="javascript:;"></a>

		<div class="document-teaser-box-content">
			<a class="document-teaser-box-title" href="javascript:;">Donec ullamcorper nulla non metus auctor
				fringilla</a>

			<p class="document-teaser-box-text js-document-teaser-box-text">Wann und in welcher Form der SST eingereicht
				werden muss.</p>

			<div class="document-teaser-box-info js-document-teaser-box-info">
				<span class="document-teaser-box-update">Update: 31.10.201</span>
				<span class="document-teaser-box-size">Grösse: 0.5mb</span>
				<ul class="document-teaser-language-list">
					<li class="document-teaser-box-language-title">Sprachen:</li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">DE</a></li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">FR</a></li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">IT</a></li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">EN</a></li>
				</ul>
			</div>
		</div>
		<a class="e-btn btn-icon icon-delete js-icon-delete" href="javascript:;">
			<span class="notification-text">Entfernen</span></a>
		<span class="document-teaser-nav-mobile js-document-teaser-nav-mobile"></span>
	</div>

	<!-- XLS -->
	<div class="document-teaser-box">

		<div class="document-teaser-checkbox">
			<input type="checkbox" value="1" id="checkbox3" name="" />
			<label for="checkbox3"></label>
		</div>

		<a class="e-btn btn-icon icon-document xls" href="javascript:;"></a>

		<div class="document-teaser-box-content">
			<a class="document-teaser-box-title" href="javascript:;">Fringilla Magna Nullam Porta Consectetur</a>

			<p class="document-teaser-box-text js-document-teaser-box-text">Wann und in welcher Form der SST eingereicht
				werden muss.</p>

			<div class="document-teaser-box-info js-document-teaser-box-info">
				<span class="document-teaser-box-update">Update: 31.10.201</span>
				<span class="document-teaser-box-size">Grösse: 0.5mb</span>
				<ul class="document-teaser-language-list">
					<li class="document-teaser-box-language-title">Sprachen:</li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">DE</a></li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">FR</a></li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">IT</a></li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">EN</a></li>
				</ul>
			</div>
		</div>
		<a class="e-btn btn-icon icon-delete js-icon-delete" href="javascript:;"><span
				class="notification-text">Entfernen</span></a>
		<span class="document-teaser-nav-mobile js-document-teaser-nav-mobile"></span>
	</div>

	<!-- PPT -->
	<div class="document-teaser-box">

		<div class="document-teaser-checkbox">
			<input type="checkbox" value="1" id="checkbox4" name="" />
			<label for="checkbox4"></label>
		</div>

		<a class="e-btn btn-icon icon-document ppt" href="javascript:;"></a>

		<div class="document-teaser-box-content">
			<a class="document-teaser-box-title" href="javascript:;">Vehicula Consectetur Adipiscing Porta</a>

			<p class="document-teaser-box-text js-document-teaser-box-text">Wann und in welcher Form der SST eingereicht
				werden muss.</p>

			<div class="document-teaser-box-info js-document-teaser-box-info">
				<span class="document-teaser-box-update">Update: 31.10.201</span>
				<span class="document-teaser-box-size">Grösse: 0.5mb</span>
				<ul class="document-teaser-language-list">
					<li class="document-teaser-box-language-title">Sprachen:</li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">DE</a></li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">FR</a></li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">IT</a></li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">EN</a></li>
				</ul>
			</div>
		</div>
		<a class="e-btn btn-icon icon-delete js-icon-delete" href="javascript:;"><span
				class="notification-text">Entfernen</span></a>
		<span class="document-teaser-nav-mobile js-document-teaser-nav-mobile"></span>
	</div>

	<!-- ZIP -->
	<div class="document-teaser-box">

		<div class="document-teaser-checkbox">
			<input type="checkbox" value="1" id="checkbox5" name="" />
			<label for="checkbox5"></label>
		</div>
		<a class="e-btn btn-icon icon-document zip" href="javascript:;"></a>

		<div class="document-teaser-box-content">
			<a class="document-teaser-box-title" href="javascript:;">Aenean eu leo quam. Pellentesque ornare sem lacinia
				quam venenatis vestibulum</a>

			<p class="document-teaser-box-text js-document-teaser-box-text">Wann und in welcher Form der SST eingereicht
				werden muss.</p>

			<div class="document-teaser-box-info js-document-teaser-box-info">
				<span class="document-teaser-box-update">Update: 31.10.201</span>
				<span class="document-teaser-box-size">Grösse: 0.5mb</span>
				<ul class="document-teaser-language-list">
					<li class="document-teaser-box-language-title">Sprachen:</li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">DE</a></li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">FR</a></li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">IT</a></li>
					<li class="document-teaser-box-language-label"><a href="javascript:;">EN</a></li>
				</ul>
			</div>
		</div>
		<a class="e-btn btn-icon icon-delete js-icon-delete" href="javascript:;"><span
				class="notification-text">Entfernen</span></a>
		<span class="document-teaser-nav-mobile js-document-teaser-nav-mobile"></span>
	</div>

	<div class="document-teaser-box box-bottom">
		<div class="grow">
			<div class="g-cell s-1of2"><a class="e-text text-link-download h-left" style="margin-top: 12px;" href="javascript:;">Auswahl downloaden</a></div>
			<div class="g-cell s-1of2"><a href="javascript:;" class="e-btn btn-standard h-right"><span class="glyph-download"></span>Alle downloaden</a></div>
		</div>

	</div>
</div>
