<!DOCTYPE html>
<html>
{{!-- Meta Head --}}
{{ partial template="components/modules/MetaHead/metahead" }}

{{!-- Body --}}
<body>

{{!-- Page --}}
<div class="l-page js-l-page">

	{{!-- Header --}}
	<header class="l-head l-wrap" role="banner">

		<div class="l-logo">
			{{ module template="components/modules/Logo"}}
		</div>

	</header>

	{{!-- Content --}}
	<div class="l-content-wrapper">

		<div class="l-main-wrapper l-wrap" role="main">
			<div class="l-main">
				{{ placeholder key="main" }}
			</div>
		</div>

	</div>

</div>

{{!-- Meta Foot --}}
{{ partial template="components/modules/MetaFoot/metafoot" }}
</body>
</html>