<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Applications</title>
</head>
<body>
    <h1>Views</h1>
        {{#each applications}}
            <h2>{{name}}</h2>
            <ul>
                {{#if views}}
                {{#each views}}
                <li><a href="{{url}}" alt="{{alt}}">{{text}}</a>(<a href="{{editUrl}}" alt="{{alt}}">Edit data</a>) (<a href="{{schemaUrl}}" alt="{{alt}}">View schema</a>)</li>
                {{/each}}
                {{/if}}
            </ul>
        {{/each}}
</body>
</html>