<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Terrific Start</title>
    <link rel="shortcut icon" type="image/ico" href="https://travel.local.nx/terrific/assets/img/favicon.ico" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css" media="screen">
        h1 {
            color: #555;
        }

            h1 span {
                font-size: 0.6em;
                color: #999;
            }

        body {
            color: #666;
        }
    </style>
</head>
<body>

    <header class="navbar navbar-default" role="banner">
        <div class="container">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">Namics. Terrific. Micro.</a>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">
                <!--<ul class="nav navbar-nav">
                    <li>
                        <a href="https://travel.local.nx/terrific/">Overview</a>
                    </li>
                </ul>-->
            </nav>
        </div>
    </header>

    <div class="container">
        <h1 class="terrific">
            Terrific vNext Start.
            <span>Hi .</span>
        </h1>

        <div class="row">
            <div class="col-md-6">
                <h3>Views</h3>
                {{#each applications}}
                <h4 class="list-group-item-heading">{{name}}</h4>
                <div class="list-group">
                    {{#if views}}
                    {{#each views}}
                    <div class="list-group-item clearfix">
                        <a href="{{url}}" alt="">{{text}}</a>
                        <span class="pull-right">
                            <a href="{{editUrl}}" class="btn btn-xs" role="button">Data</a>
                            <a href="{{schemaUrl}}" class="btn btn-xs" role="button">Schema</a>
                            <a href="{{advancedUrl}}" class="btn btn-xs" role="button">Advanced</a>
                        </span>
                    </div>
                    {{/each}}
                </div>
                {{/if}}
                {{/each}}
            </div>
            <div class="col-md-6">
                <h3>Tools</h3>
                <div class="list-group">
                    <a href="https://travel.local.nx/terrific/create/module" class="list-group-item">
                        Create new Modules &amp; Skins
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>