<div class="mod mod-accordion">

	<h2 class="e-text">B</h2>

	<dl class="accordion js-accordion">
		<dt class="Xstate-active">
		<h2 class="e-text"><a name="label1">Beschwerde</a></h2>
		</dt>
		<dd>
			<div class="e-text">
				<!-- <h2>Lorem ipsum</h2> -->
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet deserunt ipsum laudantium
					nihil numquam, perspiciatis placeat? Ad commodi delectus distinctio dolores ducimus incidunt numquam
					pariatur quis sapiente, veniam voluptate. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Autem delectus distinctio ea harum ipsam nesciunt officia tempora temporibus voluptatibus? Adipisci
					aut corporis cum dolore facilis odit officia provident sed voluptatum! Lorem ipsum dolor sit amet,
					consectetur adipisicing elit. Doloremque doloribus et fugit laborum modi molestiae officiis,
					perferendis, provident quam quia reiciendis vel vero, vitae voluptatem voluptatum. Alias aut et
					obcaecati. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias distinctio dolores
					incidunt nam quae ratione recusandae voluptatum? Architecto consequatur cum dolorem, eius error
					excepturi hic iste laborum maxime, placeat saepe?
				</p>
			</div>
		</dd>
	</dl>

	<dl class="accordion js-accordion">
		<dt class="">
		<h2 class="e-text"><a name="label2">Bewilligung</a></h2>
		</dt>
		<dd>
			<div class="e-text">
				<!-- <h2>Lorem ipsum</h2> -->
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet deserunt ipsum laudantium
					nihil numquam, perspiciatis placeat? Ad commodi delectus distinctio dolores ducimus incidunt numquam
					pariatur quis sapiente, veniam voluptate. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Autem delectus distinctio ea harum ipsam nesciunt officia tempora temporibus voluptatibus? Adipisci
					aut corporis cum dolore facilis odit officia provident sed voluptatum! Lorem ipsum dolor sit amet,
					consectetur adipisicing elit. Doloremque doloribus et fugit laborum modi molestiae officiis,
					perferendis, provident quam quia reiciendis vel vero, vitae voluptatem voluptatum. Alias aut et
					obcaecati. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias distinctio dolores
					incidunt nam quae ratione recusandae voluptatum? Architecto consequatur cum dolorem, eius error
					excepturi hic iste laborum maxime, placeat saepe?
				</p>
			</div>
		</dd>
	</dl>

	<dl class="accordion js-accordion">
		<dt class="">
		<h2 class="e-text"><a name="label3">Börsen</a></h2>
		</dt>
		<dd>
			<div class="e-text">
				<!-- <h2>Lorem ipsum</h2> -->
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet deserunt ipsum laudantium
					nihil numquam, perspiciatis placeat? Ad commodi delectus distinctio dolores ducimus incidunt numquam
					pariatur quis sapiente, veniam voluptate. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Autem delectus distinctio ea harum ipsam nesciunt officia tempora temporibus voluptatibus? Adipisci
					aut corporis cum dolore facilis odit officia provident sed voluptatum! Lorem ipsum dolor sit amet,
					consectetur adipisicing elit. Doloremque doloribus et fugit laborum modi molestiae officiis,
					perferendis, provident quam quia reiciendis vel vero, vitae voluptatem voluptatum. Alias aut et
					obcaecati. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias distinctio dolores
					incidunt nam quae ratione recusandae voluptatum? Architecto consequatur cum dolorem, eius error
					excepturi hic iste laborum maxime, placeat saepe?
				</p>
			</div>
		</dd>
	</dl>

</div>
