<div class="mod mod-accordion">
	<div class="e-box">

	    <div class="g-row">
	        <h2 class="e-text">{{title}}</h2>
	    </div>
        {{#if items}}
        {{#each items}}
	    <div class="accordion-wrapper">
	        <h3 class="accordion-title js-accordion-toggle">
	            <i class="accordion-icon icon-sc-plus"></i>
	            <i class="accordion-icon icon-sc-minus"></i>
	            <span>{{title}}</span>
	        </h3>
	        <div class="accordion-content">
	            {{{editframe.editframeStart}}}
	            {{#grid-cell padding=16}}
                    {{placeholder key="accordion" index="id"}}
	            {{/grid-cell}}
                {{{editframe.editframeStop}}}
	        </div>
	    </div>
	    {{/each}}
        {{/if}}

	</div>
</div>
