<div class="mod mod-accordion">
	<div class="e-box">

		<div class="g-row">
			<h2 class="e-text">Accordion Modul</h2>
		</div>

		<div class="accordion-chapter">
			<h3 class="accordion-title js-accordion-toggle">
				<span class="accordion-icon icon-swp-plus"></span>
				<span class="accordion-icon icon-swp-minus"></span>
				<span>Accordion-Element [1]</span>
			</h3>

			<div class="accordion-content">
				{{ module template="components/modules/TextImage" skin="full" }}
			</div>
		</div>
		<div class="accordion-chapter">
			<h3 class="accordion-title js-accordion-toggle">
				<span class="accordion-icon icon-swp-plus"></span>
				<span class="accordion-icon icon-swp-minus"></span>
				<span>Accordion-Element [2]</span>
			</h3>

			<div class="accordion-content">
				{{ module template="components/modules/TextImage" skin="left" }}
			</div>
		</div>
		<div class="accordion-chapter">
			<h3 class="accordion-title js-accordion-toggle">
				<span class="accordion-icon icon-swp-plus"></span>
				<span class="accordion-icon icon-swp-minus"></span>
				<span>Accordion-Element [3]</span>
			</h3>

			<div class="accordion-content">
				{{ module template="components/modules/TextImage" skin="youtube" }}
			</div>
		</div>
	</div>
</div>
