<div class="mod mod-sidebar-teaser">

    <!-- SidebarTeaser Linklist -->
    <div class="sidebar-teaser-img-txt">
        <div class="sidebar-teaser-heading-line">
            <h3 class="e-text">{{title}}</h3>
        </div>

        <span class="sidebar-teaser-img-txt-slogan">{{slogan}}</span>
        <p class="e-text text-small-light">{{text}}</p>

        <ul class="sidebar-teaser-link-list">
            {{#each links}}
            <li><a class="e-text text-link-help" href="{{href}}">{{name}}</a></li>
            {{/each}}
        </ul>

        <a href="faq" class="e-btn btn-secondary">FAQ's</a>

    </div>
</div>
