<div class="mod mod-sidebar-teaser">

	<!-- SidebarTeaser Kontakt -->
	<div class="sidebar-teaser-img-txt">
		<div class="sidebar-teaser-heading-line">
			<h3 class="e-text">Kontakt</h3>
		</div>

		<div class="e-text ">
			<p class="text-small-bold">Hotline für Privatpersonen</p>
			<a class="sidebar-teaser-phone-text" href="tel:+41313279888">+41 (0)31 327 98 88</a>
			<p class="text-small-light">Montag bis Freitag, 08.00 - 12.00</p>
		</div>
		<a href="javascript:;" class="e-btn btn-secondary">Kontakt</a>
	</div>

</div>
