<div class="mod mod-sidebar-teaser">

	<!-- SidebarTeaser -->
	<div class="sidebar-teaser-img-txt">

		<div class="sidebar-teaser-heading-line">
			<h3 class="e-text">Merkliste speichern</h3>
		</div>

		<span class="sidebar-teaser-img-txt-slogan">
			Erstellen Sie ein Login um die Merkliste dauerhaft zu speichern.
		</span>

		<a class="e-btn btn-secondary" href="myfinma-login"  style="margin-bottom: 10px;">Anmeldung mit Login</a>

		<a class="e-text text-link-small bold" href="myfinma-login" style="margin-left: 30px;">Jetzt registrieren</a>

	</div>

</div>
