<div class="mod mod-filter">
	<h2 class="e-text">Liste eingrenzen</h2>

	<div class="g-row">

		<div class="filter-search js-filter-search">
			<input class="" type="text" placeholder="Suchbegriff">
			<a class="filter-search-btn" href="javascript:;"></a>
		</div>

		<span class="filter-mobile-btn js-filter-mobile-btn">Filter</span>

		<div class="filter-group js-filter-group">

			<ul class="filter-group-list">

				<li class="filter-group-item">
					<select class="e-dropdown">
						<option value="" class="label">Alle Zielgruppen</option>
						<option value="1">Option 1</option>
						<option value="2">Option 2</option>
						<option value="3">Option 3</option>
						<option value="4">Option 4</option>
					</select>
				</li>

				<li class="filter-group-item">
					<select class="e-dropdown">
						<option value="" class="label">Alle Themen</option>
						<option value="1">Option 1</option>
						<option value="2">Option 2</option>
						<option value="3">Option 3</option>
						<option value="4">Option 4</option>
					</select>
				</li>

				<li class="filter-group-item">
					<select class="e-dropdown">
						<option value="" class="label">Alle Kategorien</option>
						<option value="1">Option 1</option>
						<option value="2">Option 2</option>
						<option value="3">Option 3</option>
						<option value="4">Option 4</option>
					</select>
				</li>
			</ul>

			<a class="e-text text-link-cross" href="jasvascript:;">Filter Zurücksetzen</a>
		</div>
	</div>
</div>
