.mod-slider {
	.slider {
		.item {
			margin: 2px;
			.transition(.5s);

			img {
				display: block;
				width: 100%;
				height: auto;
			}

			&:hover {
				-webkit-filter: grayscale(100%);
				   -moz-filter: grayscale(100%);
				    -ms-filter: grayscale(100%);
				     -o-filter: grayscale(100%);
				        filter: grayscale(100%);
				        filter: @gray; /* IE 6-9 */
				.transition(.25s);
			}
		}
	}
}

// -----------------------------------------
// RWD: Mobile Breakpoint < 960px
// -----------------------------------------
@media (max-width: 959px) {
	.mod-slider {

		.owl-item.loading {
			margin-top: 10px;
			display: block;
		}
	}
}

// -----------------------------------------
// RWD: Mobile Breakpoint < 660px
// -----------------------------------------
@media (max-width: 659px) {
	.mod-slider {
		.owl-item.loading {

		}

		.slider {
			.item {
				margin-right: 0;
			}
		}
	}
}