<header class="navbar navbar-default navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Namics. Terrific. Micro.</a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
            <!--<ul class="nav navbar-nav">
                <li>
                    <a href="https://travel.local.nx/terrific/">Overview</a>
                </li>
            </ul>-->
        </nav>
    </div>
</header>

<div class="container">
    {{placeholder key="phContent"}}
</div>